@charset "UTF-8";
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --html-bg-color: #F1F3FA;
  --content-max-width: 1100px;
  --text-color-primary: #2A2C34;
  --color-white: #F2F6F9;
  --color-primary: rgb(109, 128, 226);
  --color-primary-70: rgba(109, 128, 226, 0.7);
  --color-primary-50: rgba(109, 128, 226, 0.5);
  --color-primary-10: rgba(109, 128, 226, 0.1);
  --color-primary-05: rgba(109, 128, 226, 0.05);
  --color-secondary: rgb(102, 102, 115);
  --color-red: #FB7676;
  --background: #F5F6FA;
  --foreground: #F1F2F9;
  --secondary-foreground: #EBEEF9;
  --placeholder: #8D8F97;
  --border: #DDE1F7;
  --black: #16141F;
  --muted-white: #CFDAE3;
  --white: #F2F6F9;
  --pure-white: #FFF;
  --gray: #66686F;
  --red: #FB7676;
  --green-dark: #40C7A7;
  --green: #5FD0B5;
  --green-light: #6AD3BA;
  --primary-dark: #4F98CB;
  --primary: #5FA1D0;
  --primary-light: #6AA7D3;
  --primary-70: #8BB9DD;
  --primary-50: #A8CAE5;
  --primary-10: #E2EBF6;
  --purple: #6D80E2;
  --radius-1: 5px;
  --radius-2: 10px;
  --radius-3: 15px;
  --margin-1: 5px;
  --margin-2: 10px;
  --margin-3: 15px;
  --margin-4: 20px;
  --margin-5: 30px;
  --margin-6: 60px;
  --gap-1: 10px;
  --gap-2: 15px;
  --gap-3: 30px;
  --gap-4: 40px;
  --gap-5: 50px;
  --gap-6: 60px;
  --sidebar-max-width: 300px;
}

html {
  height: 100%;
  background-color: var(--background);
}

body {
  font-family: "Nunito", Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 16px;
  height: 100%;
  color: var(--text-color-primary);
  margin: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

a {
  color: var(--black);
  text-decoration: none;
  transition: color 0.1s ease-in-out;
}
a:hover {
  color: var(--primary);
}
a.dashed {
  border-bottom: 1px dashed;
}

img {
  display: block;
  max-width: 100%;
}

span.muted {
  color: var(--gray);
}
span.red {
  color: var(--red);
}
span.green {
  color: var(--green);
}

.fluid {
  display: flex;
}
.fluid--wrap {
  flex-wrap: wrap;
}

.gap-1 {
  gap: var(--gap-1);
}

.truncate {
  display: flex;
}
.truncate h1, .truncate h2, .truncate h3, .truncate h4, .truncate h5, .truncate h6 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.custom-scroll::-webkit-scrollbar {
  width: 5px;
}
.custom-scroll::-webkit-scrollbar-track {
  background-color: var(--foreground);
}
.custom-scroll::-webkit-scrollbar-thumb {
  background-color: var(--placeholder);
}
.custom-scroll::-webkit-scrollbar-thumb:hover {
  background-color: var(--primary);
}

@font-face {
  font-family: "Font Awesome 5 Pro";
  font-style: normal;
  font-weight: 300;
  font-display: block;
  src: url(/fonts/fa-light-300.eot?1bdff46d9f25dde635e0d69c3b83b4c2);
  src: url(/fonts/fa-light-300.eot?1bdff46d9f25dde635e0d69c3b83b4c2) format("embedded-opentype"), url(/fonts/fa-light-300.woff2?fc1caad4139f764993b367547a5fb464) format("woff2"), url(/fonts/fa-light-300.woff?5d111e0fbbaced46646e0122f415f528) format("woff"), url(/fonts/fa-light-300.ttf?8fe0bd1d3e62c597a0c46a61a89cbb87) format("truetype"), url(/fonts/fa-light-300.svg?9854c36138c2880f36f0e39fe608b174) format("svg");
}
@font-face {
  font-family: "Font Awesome 5 Pro";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url(/fonts/fa-regular-400.eot?46bbd47ac2b9b0cdfae2b5b9b57d9739);
  src: url(/fonts/fa-regular-400.eot?46bbd47ac2b9b0cdfae2b5b9b57d9739) format("embedded-opentype"), url(/fonts/fa-regular-400.woff2?ad461e5fa7137fee6f95bd0dbe8c1256) format("woff2"), url(/fonts/fa-regular-400.woff?5fd5b25f40f21aa40fd50ba05add5a03) format("woff"), url(/fonts/fa-regular-400.ttf?d02baad177fca99e27384335a509dbf3) format("truetype"), url(/fonts/fa-regular-400.svg?0918417c8847dc9296253ab60da9fe54) format("svg");
}
@font-face {
  font-family: "Font Awesome 5 Pro";
  font-style: normal;
  font-weight: 900;
  font-display: block;
  src: url(/fonts/fa-solid-900.eot?06fbe2ee912e35f2c53cab490ede1f25);
  src: url(/fonts/fa-solid-900.eot?06fbe2ee912e35f2c53cab490ede1f25) format("embedded-opentype"), url(/fonts/fa-solid-900.woff2?649614c34cb1aaa227bd7e72460c32fd) format("woff2"), url(/fonts/fa-solid-900.woff?57fd8d0e738650c8826619776f100051) format("woff"), url(/fonts/fa-solid-900.ttf?b645fda76c34402c35882904988eb160) format("truetype"), url(/fonts/fa-solid-900.svg?49819e9c7564110f4b04c9b0eb125b85) format("svg");
}
@font-face {
  font-family: "Font Awesome 5 Brands";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url(/fonts/fa-brands-400.eot?05718c797d47f884efcbfafe44d2ca95);
  src: url(/fonts/fa-brands-400.eot?05718c797d47f884efcbfafe44d2ca95) format("embedded-opentype"), url(/fonts/fa-brands-400.woff2?29ff4724bd1b1e774a0195c2f9b1eaf2) format("woff2"), url(/fonts/fa-brands-400.woff?13a061ea7f526a9e20fd2a8e26d4223c) format("woff"), url(/fonts/fa-brands-400.ttf?3059d606e43fea58d959a586c2b09a47) format("truetype"), url(/fonts/fa-brands-400.svg?be027a977050ea00685a8fca398849dd) format("svg");
}
@font-face {
  font-family: "Nunito";
  src: url(/fonts/Nunito-Black.eot?0844941c19c9587d6a8ce1cdf0e0e693);
  src: url(/fonts/Nunito-Black.eot?0844941c19c9587d6a8ce1cdf0e0e693) format("embedded-opentype"), url(/fonts/Nunito-Black.woff2?cddf5d51af3a8b01fc0189adb54fd3d8) format("woff2"), url(/fonts/Nunito-Black.woff?5db49198f9e07c744f3a470a2cdc1f42) format("woff"), url(/fonts/Nunito-Black.ttf?430350a8e69f2dd2f1f96bddf6e08c7f) format("truetype"), url(/fonts/Nunito-Black.svg?e5b22a670b56702cd6173d86bccdc07f) format("svg");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Nunito";
  src: url(/fonts/Nunito-Bold.eot?81cc66858ad5c6bdda339383fb7f3eef);
  src: url(/fonts/Nunito-Bold.eot?81cc66858ad5c6bdda339383fb7f3eef) format("embedded-opentype"), url(/fonts/Nunito-Bold.woff2?e7c6d919a3967270fc2311f21f9abfd9) format("woff2"), url(/fonts/Nunito-Bold.woff?99eccd9b275c50e648b584ee34f9ebc1) format("woff"), url(/fonts/Nunito-Bold.ttf?977c6bbf70df1ffbef197b109fff1f32) format("truetype"), url(/fonts/Nunito-Bold.svg?e1011b3c8bbad8a2abc62ced2462f8a7) format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Nunito";
  src: url(/fonts/Nunito-ExtraBold.eot?48dc8ac7f50ae1cea2551e91167c9e78);
  src: url(/fonts/Nunito-ExtraBold.eot?48dc8ac7f50ae1cea2551e91167c9e78) format("embedded-opentype"), url(/fonts/Nunito-ExtraBold.woff2?8e266502d01af09302f55e5f4ef6a08b) format("woff2"), url(/fonts/Nunito-ExtraBold.woff?8d28111b968bf30ee57102f546028ebb) format("woff"), url(/fonts/Nunito-ExtraBold.ttf?ba3f85a898cfdaf4bb7905ba323d1145) format("truetype"), url(/fonts/Nunito-ExtraBold.svg?eefacb3c07f6aa7408d53c1749aee214) format("svg");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Nunito";
  src: url(/fonts/Nunito-ExtraLight.eot?1da971816565142c1a6ce81227fc082f);
  src: url(/fonts/Nunito-ExtraLight.eot?1da971816565142c1a6ce81227fc082f) format("embedded-opentype"), url(/fonts/Nunito-ExtraLight.woff2?1a0cd706bffc1122b20f092f7f18c06a) format("woff2"), url(/fonts/Nunito-ExtraLight.woff?8135a3b916a00374b6067d4feeaba773) format("woff"), url(/fonts/Nunito-ExtraLight.ttf?12f7bf5244646a2b4d127452f1213115) format("truetype"), url(/fonts/Nunito-ExtraLight.svg?5096073fa2b6643f3e315bf6d0ae6c2c) format("svg");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Nunito";
  src: url(/fonts/Nunito-Light.eot?e48dab2272ce8da464bf4e2a55d01c79);
  src: url(/fonts/Nunito-Light.eot?e48dab2272ce8da464bf4e2a55d01c79) format("embedded-opentype"), url(/fonts/Nunito-Light.woff2?68b15fd116fef463a9e1b882c5bbf023) format("woff2"), url(/fonts/Nunito-Light.woff?768d10645f5a17c35ecff2da224c76ff) format("woff"), url(/fonts/Nunito-Light.ttf?a664b86f94eba09ee4ccfff725459a11) format("truetype"), url(/fonts/Nunito-Light.svg?03e64a84593cc032516779d1604725d0) format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Nunito";
  src: url(/fonts/Nunito-Regular.eot?47b9edbb80b403aa391e594d8d5bd7d3);
  src: url(/fonts/Nunito-Regular.eot?47b9edbb80b403aa391e594d8d5bd7d3) format("embedded-opentype"), url(/fonts/Nunito-Regular.woff2?31a7171e0212ec4660335a92e85e0dd6) format("woff2"), url(/fonts/Nunito-Regular.woff?1d0a455cc4c6f6e4d5215bdf838e8dac) format("woff"), url(/fonts/Nunito-Regular.ttf?03b964590c2917848f80bc1db680b492) format("truetype"), url(/fonts/Nunito-Regular.svg?f86396c4468a37dddd73b88ba1f9a6b6) format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Nunito";
  src: url(/fonts/Nunito-SemiBold.eot?3908ed76343bd7613fa34898f6f96a37);
  src: url(/fonts/Nunito-SemiBold.eot?3908ed76343bd7613fa34898f6f96a37) format("embedded-opentype"), url(/fonts/Nunito-SemiBold.woff2?c788dbb98f959e64a4273c82a5fffe41) format("woff2"), url(/fonts/Nunito-SemiBold.woff?dfe112bb72ecb2e4d568c0a4cd730ee4) format("woff"), url(/fonts/Nunito-SemiBold.ttf?5d42381a68a8330aef92b0dc6ce009f3) format("truetype"), url(/fonts/Nunito-SemiBold.svg?806f683fb1ca32cf39fdb58edc6f2e47) format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@-webkit-keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes loading {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes loading {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: 16px;
  line-height: 26px;
  margin: 0;
}
h1.center,
h2.center,
h3.center,
h4.center,
h5.center,
h6.center,
p.center {
  text-align: center;
}
h1.mt-60,
h2.mt-60,
h3.mt-60,
h4.mt-60,
h5.mt-60,
h6.mt-60,
p.mt-60 {
  margin-top: 60px;
}
h1.mt-30,
h2.mt-30,
h3.mt-30,
h4.mt-30,
h5.mt-30,
h6.mt-30,
p.mt-30 {
  margin-top: 30px;
}
h1.mb-60,
h2.mb-60,
h3.mb-60,
h4.mb-60,
h5.mb-60,
h6.mb-60,
p.mb-60 {
  margin-bottom: 60px;
}
h1.mb-30,
h2.mb-30,
h3.mb-30,
h4.mb-30,
h5.mb-30,
h6.mb-30,
p.mb-30 {
  margin-bottom: 30px;
}

p {
  margin: 1em 0;
  overflow: hidden;
  text-overflow: ellipsis;
}
p:first-child {
  margin-top: 0;
}
p:last-child {
  margin-bottom: 0;
}

.header {
  position: relative;
  background-color: var(--pure-white);
  margin-bottom: var(--mb-6);
  border-bottom: 1px solid var(--border);
}
.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: var(--gap-6);
  max-width: var(--content-max-width);
  padding: var(--margin-4) 0;
  margin: 0 auto;
}
@media (max-width: 1220px) {
  .header__inner {
    padding: var(--margin-4) var(--margin-6);
  }
}
.header__left, .header__right {
  display: flex;
  align-items: center;
  flex-grow: 1;
  flex-wrap: wrap;
}
.header__left {
  gap: var(--gap-6);
  justify-content: space-between;
}
.header__right {
  justify-content: flex-end;
}
.header__logo {
  font-size: 24px;
  font-weight: bold;
}
.header__conversations {
  position: relative;
  font-size: 18px;
  margin-right: 30px;
}
.header__conversations[data-count]::after {
  content: attr(data-count);
  position: absolute;
  top: -10px;
  right: -10px;
  width: 20px;
  height: 20px;
  text-align: center;
  font-size: 12px;
  color: var(--white);
  line-height: 20px;
  background-color: var(--red);
  border-radius: 100px;
  white-space: nowrap;
  overflow: hidden;
}
.header__profile {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 18px;
}
.header__profile .avatar {
  width: 40px;
  height: 40px;
  background-color: var(--html-bg-color);
}
.header__nav {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: var(--gap-3);
}
.header__nav a {
  display: block;
  color: var(--gray);
}
.header__nav a:hover, .header__nav a.active {
  color: var(--black);
}

.page {
  display: flex;
  gap: var(--margin-6);
  max-width: var(--content-max-width);
  margin: var(--margin-6) auto;
}
@media (max-width: 1220px) {
  .page {
    flex-wrap: wrap;
    padding: 0 60px;
  }
}
.page .content {
  width: 100%;
}
.page .content_auth-form {
  max-width: 400px;
  margin: 0 auto;
}

.section_title {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
}

.footer {
  border-top: 1px solid var(--border);
  padding: var(--margin-5) 0;
}
@media (max-width: 1220px) {
  .footer {
    padding: var(--margin-5) var(--margin-6);
  }
}
.footer__inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: var(--gap-1);
  max-width: var(--content-max-width);
  margin: 0 auto;
}
@media (max-width: 1000px) {
  .footer__inner {
    text-align: center;
    gap: var(--gap-3);
  }
}
@media (max-width: 700px) {
  .footer__inner {
    justify-content: center;
  }
}
.footer__right {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: var(--gap-3);
}
.footer__link {
  font-weight: 600;
}

.sidebar {
  max-width: var(--sidebar-max-width);
  width: 100%;
}
@media (max-width: 1220px) {
  .sidebar {
    max-width: unset;
  }
}
.sidebar_trim {
  max-width: var(--sidebar-max-width);
}
.sidebar_trim_with_icon {
  max-width: calc(var(--sidebar-max-width) - var(--margin-6) - var(--gap-2));
}

.input {
  font: inherit;
  color: var(--black);
  width: 100%;
  background-color: var(--foreground);
  border: 1px solid var(--border);
  border-radius: var(--radius-2);
  padding: var(--margin-3);
  outline: none;
  transition: all 0.1s ease;
}
.input[type=number]::-webkit-inner-spin-button, .input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
          appearance: none;
  margin: 0;
}
.input:focus {
  background-color: transparent;
}
.input::-moz-placeholder {
  font: inherit;
  color: var(--placeholder);
}
.input:-ms-input-placeholder {
  font: inherit;
  color: var(--placeholder);
}
.input::placeholder {
  font: inherit;
  color: var(--placeholder);
}
.input + button {
  margin-top: 30px;
}
.input + p.alert {
  margin-top: 20px;
}

.textarea {
  font: inherit;
  color: var(--black);
  width: 100%;
  background-color: var(--foreground);
  border: 1px solid var(--border);
  border-radius: var(--radius-2);
  padding: 24px;
  resize: vertical;
  outline: none;
  transition: border 0.1s ease-in-out, background-color 0.1s ease-in-out;
}
.textarea:focus {
  background-color: transparent;
}
.textarea::-moz-placeholder {
  font: inherit;
  color: var(--placeholder);
}
.textarea:-ms-input-placeholder {
  font: inherit;
  color: var(--placeholder);
}
.textarea::placeholder {
  font: inherit;
  color: var(--placeholder);
}
.textarea[type=hidden] {
  display: none;
}
.textarea_small {
  min-height: 150px;
}
.textarea_medium {
  min-height: 200px;
}
.textarea_large {
  min-height: 350px;
}
.textarea + p.alert {
  margin-top: 20px;
}

.select {
  position: relative;
}
.select_active {
  z-index: 10;
}
.select__data {
  display: none;
  position: absolute;
}
.select__selected {
  position: relative;
  color: var(--black);
  background-color: var(--foreground);
  border: 1px solid var(--border);
  border-radius: var(--radius-2);
  padding: var(--margin-3);
  padding-right: var(--margin-6);
  transition: all 0.07s ease;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}
.select__selected::after {
  content: "";
  position: absolute;
  top: 50%;
  right: var(--margin-3);
  font-family: "Font Awesome 5 Pro";
  font-weight: 100;
  transform: translateY(-50%);
  transition: all 0.07s ease;
}
.select_active .select__selected {
  border-bottom: 1px solid transparent;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.select_active .select__selected::after {
  color: var(--primary);
}
.select__search:focus + .select__selected {
  opacity: 0;
}
.select_active .select__search + .select__selected {
  opacity: 0;
}
.select__search {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  color: transparent;
  background-color: transparent;
  border: 1px solid var(--border);
  border-radius: var(--radius-2);
  padding: var(--margin-3);
  padding-right: var(--margin-6);
  padding: var(--margin-3);
  transition: all 0.07s ease;
  z-index: 2;
  cursor: pointer;
}
.select__search::-moz-placeholder {
  color: transparent;
}
.select__search:-ms-input-placeholder {
  color: transparent;
}
.select__search::placeholder {
  color: transparent;
}
.select__search:focus {
  color: var(--black);
  cursor: text;
}
.select__search:focus::-moz-placeholder {
  color: var(--placeholder);
}
.select__search:focus:-ms-input-placeholder {
  color: var(--placeholder);
}
.select__search:focus::placeholder {
  color: var(--placeholder);
}
.select_active .select__search {
  background-color: var(--foreground);
  border-bottom: 1px solid transparent;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.select__options {
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  background-color: var(--foreground);
  border-right: 1px solid var(--border);
  border-bottom: 1px solid var(--border);
  border-left: 1px solid var(--border);
  border-bottom-right-radius: var(--radius-2);
  border-bottom-left-radius: var(--radius-2);
  transform: translateY(5px);
  visibility: hidden;
  opacity: 0;
  transition: all 0.07s ease;
}
.select_active .select__options {
  transform: translateY(0);
  visibility: visible;
  opacity: 1;
}
.select__option {
  padding: var(--margin-2) var(--margin-3);
  cursor: pointer;
}
.select__option:hover {
  background-color: var(--secondary-foreground);
}
.select__option_reset {
  color: var(--red);
}
.select__option_selected {
  display: none;
}

.checkbox + .select {
  margin-top: var(--margin-5);
}
.checkbox input {
  position: absolute;
  width: 0;
  height: 0;
  margin: 0;
  opacity: 0;
  cursor: pointer;
}
.checkbox__label {
  cursor: pointer;
}
.checkbox.classic {
  position: relative;
  display: block;
  padding-left: 25px;
}
.checkbox.classic .checkbox__mark {
  position: absolute;
  top: 4px;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: var(--foreground);
  border: 1px solid var(--border);
  border-radius: 5px;
  cursor: pointer;
}
.checkbox.classic .checkbox__mark:after {
  content: "";
  position: absolute;
  top: -4px;
  right: 0;
  bottom: 0;
  left: 2px;
  text-align: center;
  font-family: "Font Awesome 5 Pro";
  color: var(--primary);
  opacity: 0;
  transform: translateY(-5px);
  transition: opacity 0.05s ease-in-out, transform 0.1s ease-in-out;
}
.checkbox.classic:hover .checkbox__mark {
  background-color: var(--secondary-foreground);
}
.checkbox.classic input:checked ~ .checkbox__mark:after {
  opacity: 1;
  transform: translateY(0);
}
.checkbox.tag .checkbox__label {
  color: var(--black);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--foreground);
  border: 1px solid transparent;
  border-radius: var(--radius-2);
  padding: 12px;
  outline: none;
  transition: color 0.2s ease, border 0.2s ease;
}
.checkbox.tag .checkbox__label:before {
  font-weight: normal;
  margin-right: 12px;
}
.checkbox.tag:not(.disabled) .checkbox__label:hover {
  border: 1px solid var(--color-primary-10);
}
.checkbox.tag:not(.disabled) .checkbox__label:active {
  padding: 13px 12px 11px 12px;
}
.checkbox.tag.fluid {
  flex-grow: 1;
}
.checkbox.tag.fluid .checkbox__label {
  flex-grow: 1;
}
.checkbox.tag.readonly {
  cursor: default;
}
.checkbox.tag input:checked ~ .checkbox__label {
  color: var(--primary);
  border: 1px solid var(--primary);
}
.checkbox.disabled .checkbox__mark,
.checkbox.disabled .checkbox__label {
  cursor: default;
}

.radio {
  position: relative;
  display: block;
  padding-left: 25px;
  margin-bottom: var(--margin-3);
}
.radio + .select {
  margin-top: var(--margin-5);
}
.radio__original {
  position: absolute;
  width: 0;
  height: 0;
  margin: 0;
  opacity: 0;
  cursor: pointer;
}
.radio__label {
  cursor: pointer;
}
.radio:last-child {
  margin-bottom: 0;
}
.radio__mark {
  position: absolute;
  top: 4px;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: var(--foreground);
  border: 1px solid var(--border);
  border-radius: 50px;
  cursor: pointer;
}
.radio__mark:after {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  width: 5px;
  height: 5px;
  background-color: var(--primary);
  border-radius: 50px;
  opacity: 0;
  transform: scale(0);
  transition: opacity 0.05s ease-in-out, transform 0.1s ease-in-out;
}
.radio:hover .radio__mark {
  background-color: var(--secondary-foreground);
}
input:checked ~ .radio__mark {
  border-color: var(--primary);
}
input:checked ~ .radio__mark:after {
  opacity: 1;
  transform: scale(1);
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: var(--gap-2);
}
.buttons_inline {
  flex-direction: row;
  flex-wrap: wrap;
}

button {
  font: inherit;
  background-color: unset;
  border: none;
  padding: unset;
  outline: none;
}

.button {
  position: relative;
  display: block;
  font: inherit;
  text-align: center;
  font-weight: 600;
  color: var(--color-white);
  width: 100%;
  background-color: var(--color-secondary);
  border: none;
  border-radius: var(--radius-2);
  padding: 24px;
  outline: none;
  transition: background-color 0.07s ease-in-out, color 0.1s ease-in-out;
  cursor: pointer;
}
.button:hover {
  color: var(--color-white);
}
.button:active {
  padding: 26px 24px 22px;
}
.button.primary {
  background-color: var(--primary);
}
.button.primary:hover {
  background-color: var(--primary-light);
}
.button.primary:active {
  background-color: var(--primary-dark);
}
.button.green {
  color: var(--black);
  background-color: var(--green);
}
.button.green:hover {
  background-color: var(--green-light);
}
.button.green:active {
  background-color: var(--green-dark);
}
.button.dropdown::before {
  content: "";
  font-family: "Font Awesome 5 Pro";
  font-weight: 100;
  font-size: 24px;
}
.button.loading {
  color: transparent;
  pointer-events: none;
  cursor: default;
}
.button.loading:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Font Awesome 5 Pro";
  font-weight: 100;
  font-size: 18px;
  color: var(--color-white);
  -webkit-animation: spin 1.5s linear infinite;
          animation: spin 1.5s linear infinite;
}
.button.success {
  color: transparent;
  background-color: var(--green);
  pointer-events: none;
  cursor: default;
}
.button.success:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Font Awesome 5 Pro";
  font-weight: 100;
  font-size: 18px;
  color: var(--color-white);
}

.file {
  position: relative;
  display: flex;
  transition: opacity 0.3s ease-in-out;
}
.file__original {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
}
.file__label {
  width: 100%;
  text-align: center;
  padding: 24px var(--margin-6);
  border: 2px dashed var(--border);
  border-radius: var(--radius-2);
  transition: border 0.1s ease-in-out;
  cursor: pointer;
}
.file.is-dragenter:not(.is-uploading) .file__label, .file:hover:not(.is-uploading) .file__label {
  border-color: var(--color-primary-50);
}
.file.is-uploading {
  opacity: 0.4;
  cursor: default;
}

.section {
  margin-bottom: var(--margin-6);
}
.section__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap-3);
}
.section__title {
  font-weight: 600;
  margin-right: auto;
}
.section__title_required::after {
  content: "*";
  color: var(--red);
  margin-left: var(--margin-1);
}
.section__header + .section__content {
  margin-top: var(--margin-5);
}
.section_compact {
  margin-bottom: var(--margin-5);
}
.section_small {
  margin-bottom: var(--margin-3);
}
.section_sticky {
  position: -webkit-sticky;
  position: sticky;
  top: var(--margin-5);
}
.section:last-child {
  margin-bottom: 0;
}

.article {
  -webkit-user-select: text;
     -moz-user-select: text;
      -ms-user-select: text;
          user-select: text;
}
.article img {
  border-radius: var(--radius-2);
}

.icon {
  font-size: inherit;
}
.icon::before {
  content: "";
  font-family: "Font Awesome 5 Pro";
  font-weight: inherit;
}
.icon_light {
  font-weight: 100;
}
.icon_regular {
  font-weight: normal;
}
.icon_solid {
  font-weight: 900;
}
.icon_bell::before {
  content: "";
}
.icon_search::before {
  content: "";
}
.icon_login::before {
  content: "";
}
.icon_register::before {
  content: "";
}
.icon_comment::before {
  content: "";
}
.icon_comments::before {
  content: "";
}
.icon_idea::before {
  content: "";
}
.icon_plugin::before {
  content: "";
}
.icon_graphic::before {
  content: "";
}
.icon_building::before {
  content: "";
}
.icon_users::before {
  content: "";
}
.icon_news::before {
  content: "";
}
.icon_gift::before {
  content: "";
}
.icon_arrow-up::before {
  content: "";
}
.icon_arrow-down::before {
  content: "";
}
.icon_angle-up::before {
  content: "";
}
.icon_angle-down::before {
  content: "";
}
.icon_clock::before {
  content: "";
}
.icon_download::before {
  content: "";
}
.icon_upload::before {
  content: "";
}
.icon_heart::before {
  content: "";
}
.icon_coin::before {
  content: "";
}
.icon_coins::before {
  content: "";
}
.icon_server::before {
  content: "";
}
.icon_eye::before {
  content: "";
}
.icon_eye-slash::before {
  content: "";
}
.icon_sliders-h::before {
  content: "";
}
.icon_skull::before {
  content: "";
}
.icon_map::before {
  content: "";
}
.icon_web::before {
  content: "";
}
.icon_desktop::before {
  content: "";
}
.icon_layers::before {
  content: "";
}
.icon_info::before {
  content: "";
}
.icon_file::before {
  content: "";
}
.icon_file-plus::before {
  content: "";
}
.icon_weight-hanging::before {
  content: "";
}
.icon_virus::before {
  content: "";
}
.icon_virus-slash::before {
  content: "";
}
.icon_shield-virus::before {
  content: "";
}
.icon_sync-alt::before {
  content: "";
}
.icon_edit::before {
  content: "";
}
.icon_trash-alt::before {
  content: "";
}
.icon_report::before {
  content: "";
}
.icon_save::before {
  content: "";
}
.icon_bars::before {
  content: "";
}
.icon_cart::before {
  content: "";
}

.badge {
  color: var(--primary);
}
.badge:after {
  font-family: "Font Awesome 5 Pro";
  font-weight: 900;
}
.badge.verified:after {
  content: "";
}

p.alert {
  position: relative;
  padding: 15px 15px 15px 45px;
  border-radius: var(--radius-2);
}
p.alert:before {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  font-family: "Font Awesome 5 Pro";
  font-weight: 100;
}
p.alert + input {
  margin-top: 20px;
}
p.alert.red {
  border: 1px solid var(--color-red);
}
p.alert.red:before {
  color: var(--color-red);
}
p.alert.empty {
  border: 1px solid var(--foreground);
}
p.alert.empty:before {
  content: "";
  font-weight: normal;
}

.social_links.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
.social_links.grid > a {
  text-align: center;
  flex-grow: 1;
  width: 70px;
  height: 70px;
}
.social_links a {
  display: block;
  font-size: 24px;
  background-color: var(--color-primary-05);
  border: 1px solid var(--color-primary-10);
  border-radius: 15px;
  padding: 20px;
}
.social_links a:before {
  font-family: "Font Awesome 5 Brands";
}
.social_links a:not(:empty) {
  display: flex;
  align-items: center;
}
.social_links a:not(:empty):before {
  margin-right: 15px;
}
.social_links a.vk:before {
  content: "";
}
.social_links a.google:before {
  content: "";
}
.social_links a.yandex:before {
  content: "";
}
.social_links a.fb:before {
  content: "";
}

.avatar {
  position: relative;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-primary-05);
  background-image: url(/images/default_avatar.svg?f8177344e07573f4342ba7b542af14b9);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: var(--radius-2);
  overflow: hidden;
  transition: background-image 0.15s ease-in-out;
}
.avatar.large {
  font-size: 3em;
  width: 100%;
  min-height: calc(var(--sidebar-max-width) + 100px);
}

.cover {
  position: relative;
  background-color: var(--foreground);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: var(--radius-2);
  transition: background-image 0.15s ease-in-out;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: var(--margin-6);
}
.pagination__links {
  display: flex;
  justify-content: center;
  gap: 30px;
  text-align: center;
  list-style: none;
}
.pagination__link {
  position: relative;
  color: var(--black);
  border-radius: var(--radius-1);
  padding: 10px 15px;
  transition: all 0.1s ease-in-out;
}
.pagination__link:hover:not(.pagination__link--disabled):not(.pagination__link--current) {
  color: var(--primary);
}
.pagination__link--prev {
  margin-right: 30px;
  padding: 10px 30px;
}
.pagination__link--prev:before {
  content: "";
  font-family: "Font Awesome 5 Pro";
  font-weight: 100;
  font-size: 22px;
}
.pagination__link--prev:after {
  content: "";
  position: absolute;
  top: 0;
  right: -1px;
  bottom: 0;
  width: 1px;
  background-color: var(--border);
}
.pagination__link--next {
  margin-left: 30px;
  padding: 10px 30px;
}
.pagination__link--next:before {
  content: "";
  position: absolute;
  top: 0;
  left: -1px;
  bottom: 0;
  width: 1px;
  background-color: var(--border);
}
.pagination__link--next:after {
  content: "";
  font-family: "Font Awesome 5 Pro";
  font-weight: 100;
  font-size: 22px;
}
.pagination__link--current {
  color: #fff;
  background-color: var(--primary);
}
.pagination__link--select {
  cursor: pointer;
}
.pagination__link--disabled {
  color: var(--gray);
}

.list {
  transition: opacity 0.3s ease-in-out;
}
.list_table {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap-1);
}
.list_table > * {
  flex-grow: 1;
}
.list[data-loading] {
  opacity: 0.4;
  pointer-events: none;
  cursor: default;
}

.data {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--margin-3);
  margin-bottom: var(--margin-5);
  transform: opacity 0.3s ease-in-out;
  overflow: hidden;
}
.data_compact {
  margin-bottom: var(--margin-4);
}
.data[data-loading] {
  pointer-events: none;
  opacity: 0.7;
}
.data[data-loading] .data__icon {
  position: relative;
  background-image: unset;
}
.data[data-loading] .data__icon::before {
  content: "";
  display: inline-block;
  -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
}
.data:last-child {
  margin-bottom: 0;
}
.data__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  min-width: 60px;
  height: 60px;
  min-height: 60px;
  background-color: var(--foreground);
  border-radius: var(--radius-2);
}
.data__icon_small {
  width: 30px;
  min-width: 30px;
  height: 30px;
  min-height: 30px;
  border-radius: var(--radius-1);
}
.data__info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: var(--margin-1);
}
.data__value {
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.data__desc {
  color: var(--gray);
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap-1);
}
.data__hidden {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap-2);
  transition: opacity 0.1s ease, transform 0.2s ease;
}
.data__hidden[data-on-hover=show] {
  position: absolute;
  opacity: 0;
  transform: translateY(-5px);
  visibility: hidden;
}
.data:hover .data__hidden[data-on-hover=show] {
  position: unset;
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
}
.data:hover .data__hidden[data-on-hover=hide] {
  position: absolute;
  opacity: 0;
  transform: translateY(-5px);
  visibility: hidden;
}

.tabs {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap-3);
  border-bottom: 2px solid var(--foreground);
  margin-bottom: var(--margin-5);
}
.tabs__tab {
  position: relative;
  font-weight: 600;
  color: var(--gray);
  padding-bottom: 30px;
  transition: color 0.2s ease-in-out;
}
.tabs__tab:after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 2px;
  background-color: transparent;
  transition: all 0.2s ease-in-out;
}
.tabs__tab_active {
  color: var(--primary);
}
.tabs__tab_active:after {
  bottom: -2px;
  background-color: var(--primary);
}
.tabs__content {
  position: relative;
  display: flex;
}
.tabs__content > * {
  position: absolute;
  right: 0;
  left: 0;
  flex-grow: 1;
  opacity: 0;
  transform: translateY(5px);
  transition: opacity 0.1s ease-in-out, transform 0.2s ease-in-out;
  z-index: -1;
}
.tabs__content > *.active-tab {
  position: relative;
  opacity: 1;
  top: 0;
  transform: translateZ(0px);
  z-index: 1;
}

@-webkit-keyframes tab-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes tab-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.editor {
  width: 100%;
  background-color: var(--foreground);
}
.editor [placeholder]:empty::before {
  content: attr(placeholder);
  color: var(--placeholder);
  cursor: text;
}
.editor [placeholder]:empty:focus::before {
  content: "";
}
.editor__toolbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: flex;
  flex-wrap: wrap;
  gap: var(--margin-2);
  background-color: var(--foreground);
  border-top: 1px solid var(--color-primary-10);
  border-right: 1px solid var(--color-primary-10);
  border-bottom: 1px solid var(--color-primary-10);
  border-left: 1px solid var(--color-primary-10);
  border-top-left-radius: var(--radius-2);
  border-top-right-radius: var(--radius-2);
  padding: 10px;
  z-index: 2;
}
.editor__toolbar > button {
  text-align: center;
  line-height: 30px;
  width: 30px;
  height: 30px;
  transition: color 0.05s ease;
  cursor: pointer;
}
.editor__toolbar > button:before {
  font-family: "Font Awesome 5 Pro";
  font-size: 18px;
}
.editor__toolbar > button:active {
  color: var(--primary-dark);
}
.editor__toolbar > button.active {
  color: var(--primary);
}
.editor__toolbar > button[data-command=bold]:before {
  content: "";
}
.editor__toolbar > button[data-command=italic]:before {
  content: "";
}
.editor__toolbar > button[data-command=strikethrough]:before {
  content: "";
}
.editor__toolbar > button[data-command=underline]:before {
  content: "";
}
.editor__toolbar > button[data-command=removeFormat] {
  margin-right: var(--margin-4);
}
.editor__toolbar > button[data-command=removeFormat]:before {
  content: "";
}
.editor__toolbar > button[data-command=insertOrderedList]:before {
  content: "";
}
.editor__toolbar > button[data-command=insertUnorderedList] {
  margin-right: var(--margin-4);
}
.editor__toolbar > button[data-command=insertUnorderedList]:before {
  content: "";
}
.editor__toolbar > button[data-command=justifyLeft]:before {
  content: "";
}
.editor__toolbar > button[data-command=justifyCenter]:before {
  content: "";
}
.editor__toolbar > button[data-command=justifyRight] {
  margin-right: var(--margin-4);
}
.editor__toolbar > button[data-command=justifyRight]:before {
  content: "";
}
.editor__toolbar > button[data-command=indent]:before {
  content: "";
}
.editor__toolbar > button[data-command=outdent] {
  margin-right: var(--margin-4);
}
.editor__toolbar > button[data-command=outdent]:before {
  content: "";
}
.editor__toolbar > button[data-command=superscript]:before {
  content: "";
}
.editor__toolbar > button[data-command=subscript]:before {
  content: "";
}
.editor__toolbar + .editor__content {
  border-top: 1px solid transparent;
  border-top-left-radius: unset;
  border-top-right-radius: unset;
}
.editor__content {
  font: inherit;
  color: var(--text-color-primary);
  min-height: 150px;
  border-top: 1px solid var(--color-primary-10);
  border-right: 1px solid var(--color-primary-10);
  border-bottom: 1px solid var(--color-primary-10);
  border-left: 1px solid var(--color-primary-10);
  border-top-left-radius: var(--radius-2);
  border-top-right-radius: var(--radius-2);
  border-bottom-left-radius: var(--radius-2);
  border-bottom-right-radius: var(--radius-2);
  padding: 24px;
  resize: none;
  outline: none;
  overflow: auto;
  transition: border 0.1s ease;
}
.editor__content:focus {
  border-top: 1px solid var(--color-primary-50);
  border-right: 1px solid var(--color-primary-50);
  border-bottom: 1px solid var(--color-primary-50);
  border-left: 1px solid var(--color-primary-50);
}
.editor__content::-moz-placeholder {
  font: inherit;
}
.editor__content:-ms-input-placeholder {
  font: inherit;
}
.editor__content::placeholder {
  font: inherit;
}
.editor + input {
  margin-top: 20px;
}
.editor + button {
  margin-top: 30px;
}
.editor + p.alert {
  margin-top: 20px;
}

.breadcrumb {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--gap-1);
  list-style: none;
  margin: 0;
  padding: 0;
}
.breadcrumb__item {
  display: flex;
  align-items: center;
  color: var(--gray);
  font-size: 16px;
}
.breadcrumb__item + .breadcrumb__item::before {
  content: "";
  font-family: "Font Awesome 5 Pro";
  font-weight: 100;
  margin-right: var(--gap-1);
}
.breadcrumb__item + .breadcrumb__item_price::before {
  content: "";
}
.breadcrumb__item_active {
  color: var(--black);
  font-weight: bold;
}

.hidden {
  display: none;
  margin: var(--margin-5) 0;
}
.hidden_visible {
  display: block;
}

.meta {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap-1);
  padding: 0;
  margin: 0;
  list-style: none;
  list-style-type: none;
}
.meta__item:not(:last-of-type)::after {
  content: ",";
}

.label {
  display: block;
  margin: var(--margin-3) 0;
}
.label:first-child {
  margin-top: 0;
}
.label:last-child {
  margin-bottom: 0;
}

.toggle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: var(--gap-2);
  cursor: pointer;
}
.toggle__checkbox {
  position: absolute;
  display: none;
}
.toggle__slider {
  position: relative;
  background-color: var(--red);
  padding: var(--margin-3) var(--margin-5);
  border-radius: 100px;
  transition: all 0.1s ease;
}
.toggle__slider::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  background-color: var(--background);
  padding: var(--margin-2);
  border-radius: 100px;
  transition: all 0.1s ease;
}
.toggle__checkbox:checked + .toggle__slider {
  background-color: var(--green);
}
.toggle__checkbox:checked + .toggle__slider::before {
  left: calc(var(--margin-5) + 5px);
}
.toggle + .toggle {
  border-top: 1px solid var(--border);
  padding-top: var(--margin-3);
  margin-top: var(--margin-3);
}

.table {
  width: 100%;
  border: 1px solid var(--border);
  border-collapse: collapse;
}
.table th, .table td {
  border: 1px solid var(--border);
  padding: var(--margin-2);
  text-align: left;
}
.table tbody {
  -webkit-user-select: text;
     -moz-user-select: text;
      -ms-user-select: text;
          user-select: text;
}
.table tbody tr:nth-child(odd) {
  background-color: var(--foreground);
}
.table tbody tr:hover {
  background-color: var(--secondary-foreground);
}

.forum__threads .forum__thread {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.forum__threads .forum__thread:last-child {
  margin-bottom: 0;
}
.forum__threads .forum__thread .avatar {
  width: 60px;
  height: 60px;
  margin-right: 15px;
}
.forum__threads .forum__thread a {
  color: var(--black);
}
.forum__threads .forum__thread-meta {
  color: var(--gray);
  display: flex;
  flex-wrap: wrap;
}
.forum__threads .forum__thread-meta a {
  font-weight: 600;
}
.forum__threads .forum__thread time:before {
  content: ", ";
}
.forum__threads .forum__thread time:after {
  content: " ";
}
