@charset "UTF-8";

* {
  box-sizing: border-box;
}

:root {
  --html-bg-color: #F1F3FA;
  --content-max-width: 1100px;
  --text-color-primary: #2A2C34;
  --color-white: #F2F6F9;
  --color-primary: rgb(109, 128, 226);
  --color-primary-70: rgba(109, 128, 226, 0.7);
  --color-primary-50: rgba(109, 128, 226, 0.5);
  --color-primary-10: rgba(109, 128, 226, 0.1);
  --color-primary-05: rgba(109, 128, 226, 0.05);
  --color-secondary: rgb(102, 102, 115);
  --color-red: #FB7676;
  --background: #F5F6FA;
  --foreground: #EDEFF9;
  --secondary-foreground: #EBEEF9;
  --placeholder: #8D8F97;
  --border: #DDE1F7;
  --black: #16141F;
  --muted-white: #CFDAE3;
  --white: #F2F6F9;
  --pure-white: #FFF;
  --gray: #66686F;
  --red: #FB7676;
  --green-dark: #40C7A7;
  --green: #5FD0B5;
  --green-light: #6AD3BA;
  --primary-dark: #4F98CB;
  --primary: #5FA1D0;
  --primary-light: #6AA7D3;
  --primary-70: #8BB9DD;
  --primary-50: #A8CAE5;
  --primary-10: #E2EBF6;
  --purple: #6D80E2;
  --radius-1: 5px;
  --radius-2: 10px;
  --radius-3: 15px;
  --margin-1: 5px;
  --margin-2: 10px;
  --margin-3: 15px;
  --margin-4: 20px;
  --margin-5: 30px;
  --margin-6: 60px;
  --gap-1: 10px;
  --gap-2: 15px;
  --gap-3: 30px;
  --gap-4: 40px;
  --gap-5: 50px;
  --gap-6: 60px;
  --sidebar-max-width: 300px;
}

html {
  height: 100%;
  background-color: var(--background);
}

body {
  font-family: "Nunito", Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 16px;
  height: 100%;
  color: var(--text-color-primary);
  margin: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-track {
  background-color: var(--foreground);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--placeholder);
}

body::-webkit-scrollbar-thumb:hover {
  background-color: var(--primary);
}

a {
  color: var(--black);
  text-decoration: none;
  transition: color 0.1s ease-in-out;
}

a:hover {
  color: var(--primary);
}

a.dashed {
  border-bottom: 1px dashed;
}

img {
  display: block;
  max-width: 100%;
}

span.muted {
  color: var(--gray);
}

span.red {
  color: var(--red);
}

span.green {
  color: var(--green);
}

.fluid {
  display: flex;
}

.fluid--wrap {
  flex-wrap: wrap;
}

.gap-1 {
  gap: var(--gap-1);
}

.truncate {
  display: flex;
}

.truncate h1,
.truncate h2,
.truncate h3,
.truncate h4,
.truncate h5,
.truncate h6 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@font-face {
  font-family: "Font Awesome 5 Pro";
  font-style: normal;
  font-weight: 300;
  font-display: block;
  src: url(/fonts/fa-light-300.eot?a624ea3f4dd832cb54ea41286ded8fc3);
  src: url(/fonts/fa-light-300.eot?a624ea3f4dd832cb54ea41286ded8fc3) format("embedded-opentype"), url(/fonts/fa-light-300.woff2?3d8af27a47bbfab857f96dbcf710b087) format("woff2"), url(/fonts/fa-light-300.woff?0b4313e036624b29c8f651d0c9a5ecd8) format("woff"), url(/fonts/fa-light-300.ttf?0e0b8b741276d5220c847d0be486609e) format("truetype"), url(/fonts/fa-light-300.svg?a83fcc84a08516a0e8bf77b2d982827a) format("svg");
}

@font-face {
  font-family: "Font Awesome 5 Pro";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url(/fonts/fa-regular-400.eot?fde04f8e6967b818c6fb3338d8b366d3);
  src: url(/fonts/fa-regular-400.eot?fde04f8e6967b818c6fb3338d8b366d3) format("embedded-opentype"), url(/fonts/fa-regular-400.woff2?3e332211899360ab9380df4d50e1c33a) format("woff2"), url(/fonts/fa-regular-400.woff?4776aa52b579295cf651f6284793dac4) format("woff"), url(/fonts/fa-regular-400.ttf?faa0b37d4fdba1e304982f192c55bbe2) format("truetype"), url(/fonts/fa-regular-400.svg?a7fe14be02125376c03aced162443080) format("svg");
}

@font-face {
  font-family: "Font Awesome 5 Pro";
  font-style: normal;
  font-weight: 900;
  font-display: block;
  src: url(/fonts/fa-solid-900.eot?6c207a7b79c06c76e915eb8f30e51d8a);
  src: url(/fonts/fa-solid-900.eot?6c207a7b79c06c76e915eb8f30e51d8a) format("embedded-opentype"), url(/fonts/fa-solid-900.woff2?150120b3d9b448dd116680b66eba9bbe) format("woff2"), url(/fonts/fa-solid-900.woff?fb2f453136d024f47f2463d0d2ea2f05) format("woff"), url(/fonts/fa-solid-900.ttf?749dd3651c1a97f03faa88723af2371a) format("truetype"), url(/fonts/fa-solid-900.svg?29fd9e8a4f8962b6a48328553db58f2c) format("svg");
}

@font-face {
  font-family: "Font Awesome 5 Brands";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url(/fonts/fa-brands-400.eot?05c475fabceebae1f9d40ba6711cb41a);
  src: url(/fonts/fa-brands-400.eot?05c475fabceebae1f9d40ba6711cb41a) format("embedded-opentype"), url(/fonts/fa-brands-400.woff2?7c0be8b6640f024b6f4505161bf1bfd4) format("woff2"), url(/fonts/fa-brands-400.woff?5d875e6a4dcceea77fa7d4b8e1440982) format("woff"), url(/fonts/fa-brands-400.ttf?8ca6e74eddaf8fce3cdcf8647b37cbf1) format("truetype"), url(/fonts/fa-brands-400.svg?6c6d2066f4cf11ef750989386713bccd) format("svg");
}

@font-face {
  font-family: "Nunito";
  src: url(/fonts/Nunito-Black.eot?1365f5a761f8ca297de815287cf1dbf0);
  src: url(/fonts/Nunito-Black.eot?1365f5a761f8ca297de815287cf1dbf0) format("embedded-opentype"), url(/fonts/Nunito-Black.woff2?99e9c015d37f092ca838e099ef47630b) format("woff2"), url(/fonts/Nunito-Black.woff?59e68c03d5ee7487d6dc853c63427b0a) format("woff"), url(/fonts/Nunito-Black.ttf?e871002cb56e49676665703c88e7a0eb) format("truetype"), url(/fonts/Nunito-Black.svg?6b969aa40fa4744c4074f2b49c4c1c53) format("svg");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nunito";
  src: url(/fonts/Nunito-Bold.eot?e6764d3426c5048da9160b9656e987d6);
  src: url(/fonts/Nunito-Bold.eot?e6764d3426c5048da9160b9656e987d6) format("embedded-opentype"), url(/fonts/Nunito-Bold.woff2?71e314ab44ee39f69663aa9e3b51dbe6) format("woff2"), url(/fonts/Nunito-Bold.woff?726b1f6c4e41f23134e978fa4551a95c) format("woff"), url(/fonts/Nunito-Bold.ttf?b281483bb38c83846de4b00ef8c522a4) format("truetype"), url(/fonts/Nunito-Bold.svg?c900ce0998c4a30879886f186620034d) format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nunito";
  src: url(/fonts/Nunito-ExtraBold.eot?f129bdabbfb77df457d59087d7d55309);
  src: url(/fonts/Nunito-ExtraBold.eot?f129bdabbfb77df457d59087d7d55309) format("embedded-opentype"), url(/fonts/Nunito-ExtraBold.woff2?52cbc272f7333c0b5432e5187ad38dc4) format("woff2"), url(/fonts/Nunito-ExtraBold.woff?40d52157835073daf431760c5452bab4) format("woff"), url(/fonts/Nunito-ExtraBold.ttf?54efeb32fb87f5cefc0df83c840300cc) format("truetype"), url(/fonts/Nunito-ExtraBold.svg?03d69d5db678c624f6b64e999f2d69b0) format("svg");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nunito";
  src: url(/fonts/Nunito-ExtraLight.eot?55abbbd650cc4363d4291e33d372ecdd);
  src: url(/fonts/Nunito-ExtraLight.eot?55abbbd650cc4363d4291e33d372ecdd) format("embedded-opentype"), url(/fonts/Nunito-ExtraLight.woff2?d23c3f81601c3a6dbe29602d21a663f6) format("woff2"), url(/fonts/Nunito-ExtraLight.woff?3ccdcfbd0230fcb7eb28cd278d9c342e) format("woff"), url(/fonts/Nunito-ExtraLight.ttf?f3528e1f430974876a33902efc7a7287) format("truetype"), url(/fonts/Nunito-ExtraLight.svg?694fa87e8f61a15d48900f89eb3c82e9) format("svg");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nunito";
  src: url(/fonts/Nunito-Light.eot?165836caea731766b345bb29369d7eb2);
  src: url(/fonts/Nunito-Light.eot?165836caea731766b345bb29369d7eb2) format("embedded-opentype"), url(/fonts/Nunito-Light.woff2?5b1d49f6c01fa470e3d8a0be77db5697) format("woff2"), url(/fonts/Nunito-Light.woff?ad27b4964781a608450e33a046709c72) format("woff"), url(/fonts/Nunito-Light.ttf?d098589d69bdee5d8a7e8b7db551cb42) format("truetype"), url(/fonts/Nunito-Light.svg?bf87769a11bc3c560bc2e859a4bb039d) format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nunito";
  src: url(/fonts/Nunito-Regular.eot?9668847a6c1a8cbcfe5607841f3c0e56);
  src: url(/fonts/Nunito-Regular.eot?9668847a6c1a8cbcfe5607841f3c0e56) format("embedded-opentype"), url(/fonts/Nunito-Regular.woff2?a0073737584860856c9b984a6ed9300d) format("woff2"), url(/fonts/Nunito-Regular.woff?6c3e4b3d38629d9f79338b42c9d4ff3b) format("woff"), url(/fonts/Nunito-Regular.ttf?1eed132702c261496d2626b2d513cbda) format("truetype"), url(/fonts/Nunito-Regular.svg?61beee6753cea5261cb246f2de7afec6) format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nunito";
  src: url(/fonts/Nunito-SemiBold.eot?71a0b7e7758bb852d2b0a919458b0346);
  src: url(/fonts/Nunito-SemiBold.eot?71a0b7e7758bb852d2b0a919458b0346) format("embedded-opentype"), url(/fonts/Nunito-SemiBold.woff2?b585b9ad51d97924d1f02ed1f6bf868c) format("woff2"), url(/fonts/Nunito-SemiBold.woff?fed2195594894030195e2b45f393213b) format("woff"), url(/fonts/Nunito-SemiBold.ttf?e8977b980c312fc955617ad6db6b5d58) format("truetype"), url(/fonts/Nunito-SemiBold.svg?b73cedea91b73c616351b0a3a54e7a78) format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@-webkit-keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes loading {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes loading {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: 16px;
  line-height: 26px;
  margin: 0;
}

h1.center,
h2.center,
h3.center,
h4.center,
h5.center,
h6.center,
p.center {
  text-align: center;
}

h1.mt-60,
h2.mt-60,
h3.mt-60,
h4.mt-60,
h5.mt-60,
h6.mt-60,
p.mt-60 {
  margin-top: 60px;
}

h1.mt-30,
h2.mt-30,
h3.mt-30,
h4.mt-30,
h5.mt-30,
h6.mt-30,
p.mt-30 {
  margin-top: 30px;
}

h1.mb-60,
h2.mb-60,
h3.mb-60,
h4.mb-60,
h5.mb-60,
h6.mb-60,
p.mb-60 {
  margin-bottom: 60px;
}

h1.mb-30,
h2.mb-30,
h3.mb-30,
h4.mb-30,
h5.mb-30,
h6.mb-30,
p.mb-30 {
  margin-bottom: 30px;
}

p {
  margin: 1em 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

p:first-child {
  margin-top: 0;
}

p:last-child {
  margin-bottom: 0;
}

.header {
  position: relative;
  background-color: var(--pure-white);
  margin-bottom: var(--mb-6);
  border-bottom: 1px solid var(--border);
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: var(--gap-6);
  max-width: var(--content-max-width);
  padding: var(--margin-4) 0;
  margin: 0 auto;
}

@media (max-width: 1220px) {
  .header__inner {
    padding: var(--margin-4) var(--margin-6);
  }
}

.header__left,
.header__right {
  display: flex;
  align-items: center;
  flex-grow: 1;
  flex-wrap: wrap;
}

.header__left {
  gap: var(--gap-6);
  justify-content: space-between;
}

.header__right {
  justify-content: flex-end;
}

.header__logo {
  font-size: 24px;
  font-weight: bold;
}

.header__conversations {
  position: relative;
  font-size: 18px;
  margin-right: 30px;
}

.header__conversations[data-count]::after {
  content: attr(data-count);
  position: absolute;
  top: -10px;
  right: -10px;
  width: 20px;
  height: 20px;
  text-align: center;
  font-size: 12px;
  color: var(--white);
  line-height: 20px;
  background-color: var(--red);
  border-radius: 100px;
  white-space: nowrap;
  overflow: hidden;
}

.header__profile {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 18px;
}

.header__profile .avatar {
  width: 40px;
  height: 40px;
  background-color: var(--html-bg-color);
}

.header__nav {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: var(--gap-3);
}

.header__nav a {
  display: block;
  color: var(--gray);
}

.header__nav a:hover,
.header__nav a.active {
  color: var(--black);
}

.page {
  display: flex;
  gap: var(--margin-6);
  max-width: var(--content-max-width);
  margin: var(--margin-6) auto;
}

@media (max-width: 1220px) {
  .page {
    flex-wrap: wrap;
    padding: 0 60px;
  }
}

.page.auth_form {
  max-width: 400px;
}

.page .content {
  width: 100%;
}

.section_title {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
}

.footer {
  position: -webkit-sticky;
  position: sticky;
  top: 100%;
  background-color: var(--color-primary-05);
  border-top: 1px solid var(--border);
  padding: var(--margin-5) 0;
}

@media (max-width: 1220px) {
  .footer {
    padding: var(--margin-5) var(--margin-6);
  }
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: var(--gap-1);
  max-width: var(--content-max-width);
  margin: 0 auto;
}

@media (max-width: 1000px) {
  .footer__inner {
    text-align: center;
    gap: var(--gap-3);
  }
}

@media (max-width: 700px) {
  .footer__inner {
    justify-content: center;
  }
}

.footer__right {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: var(--gap-3);
}

.footer__link {
  font-weight: 600;
}

.sidebar {
  max-width: var(--sidebar-max-width);
  width: 100%;
}

@media (max-width: 1220px) {
  .sidebar {
    max-width: unset;
  }
}

input {
  font: inherit;
  color: var(--black);
  width: 100%;
  background-color: var(--foreground);
  border: 1px solid var(--border);
  border-radius: var(--radius-2);
  padding: 24px;
  outline: none;
  transition: border 0.1s ease-in-out, background-color 0.1s ease-in-out;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
          appearance: none;
  margin: 0;
}

input:focus {
  background-color: transparent;
}

input::-moz-placeholder {
  font: inherit;
  color: var(--placeholder);
}

input:-ms-input-placeholder {
  font: inherit;
  color: var(--placeholder);
}

input::placeholder {
  font: inherit;
  color: var(--placeholder);
}

input + input {
  margin-top: 20px;
}

input + button {
  margin-top: 30px;
}

input + p.alert {
  margin-top: 20px;
}

textarea {
  font: inherit;
  color: var(--black);
  width: 100%;
  min-height: 300px;
  background-color: var(--foreground);
  border: 1px solid var(--border);
  border-radius: var(--radius-2);
  padding: 24px;
  resize: vertical;
  outline: none;
  transition: border 0.1s ease-in-out, background-color 0.1s ease-in-out;
}

textarea:focus {
  background-color: transparent;
}

textarea::-moz-placeholder {
  font: inherit;
  color: var(--placeholder);
}

textarea:-ms-input-placeholder {
  font: inherit;
  color: var(--placeholder);
}

textarea::placeholder {
  font: inherit;
  color: var(--placeholder);
}

textarea[type=hidden] {
  display: none;
}

textarea + input {
  margin-top: 20px;
}

textarea + button {
  margin-top: 30px;
}

textarea + p.alert {
  margin-top: 20px;
}

.select {
  position: relative;
  font-family: inherit;
}

.select__original {
  display: none;
}

.select__trigger {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap-1);
  cursor: pointer;
}

.select__label {
  color: var(--gray);
}

.select__label:after {
  content: ":";
}

.select__selected {
  display: flex;
  align-items: center;
  gap: var(--gap-1);
  color: var(--black);
  transition: all 0.1s ease-in-out;
  cursor: pointer;
}

.select__selected:after {
  content: "\F107";
  font-family: "Font Awesome 5 Pro";
  font-weight: 100;
  transition: transform 0.1s ease-in-out;
}

.select__options {
  position: absolute;
  top: calc(100% + 10px);
  right: -24px;
  left: -24px;
  background-color: #fff;
  border-radius: var(--radius-2);
  padding: 15px 0;
  margin: 0;
  box-shadow: 0px 4px 4px rgba(195, 201, 222, 0.15);
  list-style: none;
  transform: translateY(20px);
  opacity: 0;
  pointer-events: none;
  transition: transform 0.1s ease, opacity 0.15s ease;
  z-index: 10;
}

.select__trigger:hover .select__selected,
.select--open .select__selected {
  color: var(--primary);
}

.select--open .select__selected:after {
  transform: rotate(180deg);
}

.select--open .select__options {
  transform: translateY(0);
  opacity: 1;
  pointer-events: unset;
}

.select__option {
  display: block;
  padding: 15px 24px;
  white-space: nowrap;
  cursor: pointer;
}

.select__option:hover:not(.select__option--selected) {
  background-color: var(--color-primary-10);
}

.select__option--selected {
  color: var(--primary);
  cursor: default;
}

.checkbox + .select {
  margin-top: var(--margin-5);
}

.checkbox input {
  position: absolute;
  width: 0;
  height: 0;
  margin: 0;
  opacity: 0;
  cursor: pointer;
}

.checkbox__label {
  cursor: pointer;
}

.checkbox.classic {
  position: relative;
  display: block;
  padding-left: 25px;
  margin-bottom: var(--margin-3);
}

.checkbox.classic:last-child {
  margin-bottom: 0;
}

.checkbox.classic .checkbox__mark {
  position: absolute;
  top: 4px;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: var(--foreground);
  border: 1px solid var(--border);
  border-radius: 5px;
  cursor: pointer;
}

.checkbox.classic .checkbox__mark:after {
  content: "\F00C";
  position: absolute;
  top: -4px;
  right: 0;
  bottom: 0;
  left: 2px;
  text-align: center;
  font-family: "Font Awesome 5 Pro";
  color: var(--primary);
  opacity: 0;
  transform: translateY(-5px);
  transition: opacity 0.05s ease-in-out, transform 0.1s ease-in-out;
}

.checkbox.classic:hover .checkbox__mark {
  background-color: var(--border);
}

.checkbox.classic input:checked ~ .checkbox__mark:after {
  opacity: 1;
  transform: translateY(0);
}

.checkbox.tag .checkbox__label {
  color: var(--black);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--foreground);
  border: 1px solid transparent;
  border-radius: var(--radius-2);
  padding: 12px;
  outline: none;
  transition: color 0.2s ease, border 0.2s ease;
}

.checkbox.tag .checkbox__label:before {
  font-weight: normal;
  margin-right: 12px;
}

.checkbox.tag:not(.disabled) .checkbox__label:hover {
  border: 1px solid var(--color-primary-10);
}

.checkbox.tag:not(.disabled) .checkbox__label:active {
  padding: 13px 12px 11px 12px;
}

.checkbox.tag.fluid {
  flex-grow: 1;
}

.checkbox.tag.fluid .checkbox__label {
  flex-grow: 1;
}

.checkbox.tag.readonly {
  cursor: default;
}

.checkbox.tag input:checked ~ .checkbox__label {
  color: var(--primary);
  border: 1px solid var(--primary);
}

.checkbox.disabled .checkbox__mark,
.checkbox.disabled .checkbox__label {
  cursor: default;
}

.radio {
  position: relative;
  display: block;
  padding-left: 25px;
  margin-bottom: var(--margin-3);
}

.radio + .select {
  margin-top: var(--margin-5);
}

.radio__original {
  position: absolute;
  width: 0;
  height: 0;
  margin: 0;
  opacity: 0;
  cursor: pointer;
}

.radio__label {
  cursor: pointer;
}

.radio:last-child {
  margin-bottom: 0;
}

.radio__mark {
  position: absolute;
  top: 4px;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: var(--foreground);
  border: 1px solid var(--border);
  border-radius: 50px;
  cursor: pointer;
}

.radio__mark:after {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  width: 5px;
  height: 5px;
  background-color: var(--primary);
  border-radius: 50px;
  opacity: 0;
  transform: scale(0);
  transition: opacity 0.05s ease-in-out, transform 0.1s ease-in-out;
}

.radio:hover .radio__mark {
  background-color: var(--border);
}

input:checked ~ .radio__mark {
  border-color: var(--primary);
}

input:checked ~ .radio__mark:after {
  opacity: 1;
  transform: scale(1);
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: var(--gap-2);
}

.buttons_inline {
  flex-direction: row;
  flex-wrap: wrap;
}

button {
  font: inherit;
  background-color: unset;
  border: none;
  padding: unset;
  outline: none;
}

.button {
  position: relative;
  display: block;
  font: inherit;
  text-align: center;
  font-weight: 600;
  color: var(--color-white);
  width: 100%;
  background-color: var(--color-secondary);
  border: none;
  border-radius: var(--radius-2);
  padding: 24px;
  outline: none;
  transition: background-color 0.07s ease-in-out, color 0.1s ease-in-out;
  cursor: pointer;
}

.button:hover {
  color: var(--color-white);
}

.button:active {
  padding: 26px 24px 22px;
}

.button.primary {
  background-color: var(--primary);
}

.button.primary:hover {
  background-color: var(--primary-light);
}

.button.primary:active {
  background-color: var(--primary-dark);
}

.button.green {
  color: var(--black);
  background-color: var(--green);
}

.button.green:hover {
  background-color: var(--green-light);
}

.button.green:active {
  background-color: var(--green-dark);
}

.button.dropdown::before {
  content: "\F0D7";
  font-family: "Font Awesome 5 Pro";
  font-weight: 100;
  font-size: 24px;
}

.button.loading {
  color: transparent;
  pointer-events: none;
  cursor: default;
}

.button.loading:before {
  content: "\F2F1";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Font Awesome 5 Pro";
  font-weight: 100;
  font-size: 18px;
  color: var(--color-white);
  -webkit-animation: spin 1.5s linear infinite;
          animation: spin 1.5s linear infinite;
}

.button.success {
  color: transparent;
  background-color: var(--green);
  pointer-events: none;
  cursor: default;
}

.button.success:before {
  content: "\F00C";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Font Awesome 5 Pro";
  font-weight: 100;
  font-size: 18px;
  color: var(--color-white);
}

.file {
  position: relative;
  display: flex;
  transition: opacity 0.3s ease-in-out;
}

.file__original {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
}

.file__label {
  width: 100%;
  text-align: center;
  padding: 24px var(--margin-6);
  border: 2px dashed var(--border);
  border-radius: var(--radius-2);
  transition: border 0.1s ease-in-out;
  cursor: pointer;
}

.file.is-dragenter:not(.is-uploading) .file__label,
.file:hover:not(.is-uploading) .file__label {
  border-color: var(--color-primary-50);
}

.file.is-uploading {
  opacity: 0.4;
  cursor: default;
}

.section {
  margin-bottom: var(--margin-6);
}

.section__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap-3);
}

.section__title {
  font-weight: 600;
  margin-right: auto;
}

.section__title--required::after {
  content: "*";
  color: var(--red);
  margin-left: var(--margin-1);
}

.section__header + .section__content {
  margin-top: var(--margin-5);
}

.section.compact {
  margin-bottom: var(--margin-5);
}

.section.small {
  margin-bottom: var(--margin-3);
}

.section--sticky {
  position: -webkit-sticky;
  position: sticky;
  top: var(--margin-5);
}

.section:last-child {
  margin-bottom: 0;
}

.article {
  -webkit-user-select: text;
     -moz-user-select: text;
      -ms-user-select: text;
          user-select: text;
}

.article img {
  border-radius: var(--radius-2);
}

.icon {
  font-size: inherit;
}

.icon::before {
  font-family: "Font Awesome 5 Pro";
  font-weight: inherit;
}

.icon_light {
  font-weight: 100;
}

.icon_regular {
  font-weight: normal;
}

.icon_solid {
  font-weight: 900;
}

.icon--bell::before {
  content: "\F0F3";
}

.icon--search::before {
  content: "\F002";
}

.icon--login::before {
  content: "\F090";
}

.icon--register::before {
  content: "\F234";
}

.icon--comment::before {
  content: "\F075";
}

.icon--comments::before {
  content: "\F086";
}

.icon--idea::before {
  content: "\F672";
}

.icon--plugin::before {
  content: "\F12E";
}

.icon--graphic::before {
  content: "\F53F";
}

.icon--building::before {
  content: "\F66F";
}

.icon--users::before {
  content: "\F0C0";
}

.icon--news::before {
  content: "\F1EA";
}

.icon--gift::before {
  content: "\F06B";
}

.icon--arrow-up::before {
  content: "\F062";
}

.icon--arrow-down::before {
  content: "\F063";
}

.icon--clock::before {
  content: "\F017";
}

.icon--download::before {
  content: "\F019";
}

.icon--upload::before {
  content: "\F093";
}

.icon--heart::before {
  content: "\F004";
}

.icon--coin::before {
  content: "\F85C";
}

.icon--coins::before {
  content: "\F51E";
}

.icon--server::before {
  content: "\F233";
}

.icon--eye::before {
  content: "\F06E";
}

.icon--sliders-h::before {
  content: "\F1DE";
}

.icon--skull::before {
  content: "\F54C";
}

.icon--map::before {
  content: "\F279";
}

.icon--web::before {
  content: "\F121";
}

.icon--desktop::before {
  content: "\F390";
}

.icon--layers::before {
  content: "\F5FD";
}

.icon--info::before {
  content: "\F129";
}

.icon--file::before {
  content: "\F15B";
}

.icon--file-plus::before {
  content: "\F319";
}

.icon--weight-hanging::before {
  content: "\F5CD";
}

.icon--virus::before {
  content: "\E074";
}

.icon--virus-slash::before {
  content: "\E075";
}

.icon--shield-virus::before {
  content: "\E06C";
}

.icon--sync-alt::before {
  content: "\F2F1";
}

.icon--edit::before {
  content: "\F044";
}

.icon--trash-alt::before {
  content: "\F2ED";
}

.icon--report::before {
  content: "\F024";
}

.icon--save::before {
  content: "\F0C7";
}

.icon--bars::before {
  content: "\F0C9";
}

.icon--cart::before {
  content: "\F07A";
}

.badge {
  color: var(--primary);
}

.badge:after {
  font-family: "Font Awesome 5 Pro";
  font-weight: 900;
}

.badge.verified:after {
  content: "\F336";
}

p.alert {
  position: relative;
  padding: 15px 15px 15px 45px;
  border-radius: var(--radius-2);
}

p.alert:before {
  content: "\F06A";
  position: absolute;
  top: 15px;
  left: 15px;
  font-family: "Font Awesome 5 Pro";
  font-weight: 100;
}

p.alert + input {
  margin-top: 20px;
}

p.alert.red {
  border: 1px solid var(--color-red);
}

p.alert.red:before {
  color: var(--color-red);
}

p.alert.empty {
  border: 1px solid var(--foreground);
}

p.alert.empty:before {
  content: "\F8F6";
  font-weight: normal;
}

.social_links.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.social_links.grid > a {
  text-align: center;
  flex-grow: 1;
  width: 70px;
  height: 70px;
}

.social_links a {
  display: block;
  font-size: 24px;
  background-color: var(--color-primary-05);
  border: 1px solid var(--color-primary-10);
  border-radius: 15px;
  padding: 20px;
}

.social_links a:before {
  font-family: "Font Awesome 5 Brands";
}

.social_links a:not(:empty) {
  display: flex;
  align-items: center;
}

.social_links a:not(:empty):before {
  margin-right: 15px;
}

.social_links a.vk:before {
  content: "\F189";
}

.social_links a.google:before {
  content: "\F1A0";
}

.social_links a.yandex:before {
  content: "\F413";
}

.social_links a.fb:before {
  content: "\F39E";
}

.dropdown {
  position: relative;
  z-index: 10;
}

.dropdown__title {
  display: flex;
  align-items: center;
  font-weight: 600;
  color: var(--black);
  cursor: pointer;
}

.dropdown__title:after {
  content: "\F107";
  font-family: "Font Awesome 5 Pro";
  font-weight: 100;
  margin-left: 10px;
  transition: all 0.1s ease-in-out;
}

.dropdown__title:hover {
  color: var(--black);
}

.dropdown__title:active:after {
  transform: translateY(1px);
}

.dropdown__content {
  position: absolute;
  top: calc(100% + 15px);
  left: 0;
  background-color: #fff;
  border-radius: var(--radius-2);
  padding: 15px 0;
  margin: 0;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  list-style: none;
  transform: translateY(-20px);
  opacity: 0;
  pointer-events: none;
  transition: transform 0.1s ease, opacity 0.15s ease;
}

.dropdown__content:before {
  content: "";
  position: absolute;
  top: -20px;
  left: 0;
  right: 0;
  height: 20px;
}

.dropdown__item {
  color: var(--black);
  white-space: nowrap;
}

.dropdown__item:hover {
  background-color: var(--color-primary-10);
}

.dropdown__item a {
  display: block;
  color: inherit;
  padding: 15px 24px;
}

.dropdown.active .dropdown__title:after {
  transform: rotate(180deg);
}

.dropdown.active .dropdown__content {
  transform: translateY(0);
  opacity: 1;
  pointer-events: unset;
}

.avatar {
  position: relative;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-primary-05);
  background-image: url(/images/default_avatar.svg?032ed3c0611c7057b5ff3b4ab40a9873);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: var(--radius-2);
  overflow: hidden;
  transition: background-image 0.15s ease-in-out;
}

.avatar.large {
  font-size: 3em;
  width: 100%;
  min-height: calc(var(--sidebar-max-width) + 100px);
}

.cover {
  position: relative;
  background-color: var(--foreground);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: var(--radius-2);
  transition: background-image 0.15s ease-in-out;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: var(--margin-6);
}

.pagination__links {
  display: flex;
  justify-content: center;
  gap: 30px;
  text-align: center;
  list-style: none;
}

.pagination__link {
  position: relative;
  color: var(--black);
  border-radius: var(--radius-1);
  padding: 10px 15px;
  transition: all 0.1s ease-in-out;
}

.pagination__link:hover:not(.pagination__link--disabled):not(.pagination__link--current) {
  color: var(--primary);
}

.pagination__link--prev {
  margin-right: 30px;
  padding: 10px 30px;
}

.pagination__link--prev:before {
  content: "\F104";
  font-family: "Font Awesome 5 Pro";
  font-weight: 100;
  font-size: 22px;
}

.pagination__link--prev:after {
  content: "";
  position: absolute;
  top: 0;
  right: -1px;
  bottom: 0;
  width: 1px;
  background-color: var(--border);
}

.pagination__link--next {
  margin-left: 30px;
  padding: 10px 30px;
}

.pagination__link--next:before {
  content: "";
  position: absolute;
  top: 0;
  left: -1px;
  bottom: 0;
  width: 1px;
  background-color: var(--border);
}

.pagination__link--next:after {
  content: "\F105";
  font-family: "Font Awesome 5 Pro";
  font-weight: 100;
  font-size: 22px;
}

.pagination__link--current {
  color: #fff;
  background-color: var(--primary);
}

.pagination__link--select {
  cursor: pointer;
}

.pagination__link--disabled {
  color: var(--gray);
}

.list {
  transition: opacity 0.3s ease-in-out;
}

.list_table {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap-1);
}

.list_table > * {
  flex-grow: 1;
}

.list.loading {
  opacity: 0.4;
  pointer-events: none;
  cursor: default;
}

.data {
  display: flex;
  align-items: center;
  gap: var(--margin-3);
  margin-bottom: var(--margin-5);
  transform: opacity 0.3s ease-in-out;
}

.data_compact {
  margin-bottom: var(--margin-4);
}

.data.is-loading {
  pointer-events: none;
  opacity: 0.7;
}

.data.is-loading .data__icon {
  position: relative;
  background-image: unset;
}

.data.is-loading .data__icon::before {
  content: "\F2F1";
  display: inline-block;
  -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
}

.data:last-child {
  margin-bottom: 0;
}

.data__icon,
.data .avatar {
  width: 60px;
  min-width: 60px;
  height: 60px;
  min-height: 60px;
  text-align: center;
  line-height: 60px;
  background-color: var(--foreground);
  border-radius: var(--radius-2);
}

.data__info {
  display: flex;
  flex-direction: column;
  gap: var(--margin-1);
}

.data__value {
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.data__desc {
  color: var(--gray);
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap-1);
}

.data__hidden {
  opacity: 0;
  transform: translateX(-5px);
  transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out;
  pointer-events: none;
}

.data:hover .data__hidden.data__hidden--hover {
  opacity: 1;
  transform: translateX(0);
  pointer-events: unset;
}

.tabs {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap-3);
  border-bottom: 2px solid var(--foreground);
  margin-bottom: var(--margin-5);
}

.tabs__tab {
  position: relative;
  font-weight: 600;
  color: var(--gray);
  padding-bottom: 30px;
  transition: color 0.2s ease-in-out;
}

.tabs__tab:after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 2px;
  background-color: transparent;
  transition: all 0.2s ease-in-out;
}

.tabs__tab.active {
  color: var(--primary);
}

.tabs__tab.active:after {
  bottom: -2px;
  background-color: var(--primary);
}

.tabs__content {
  position: relative;
  display: flex;
}

.tabs__content > * {
  position: absolute;
  right: 0;
  left: 0;
  flex-grow: 1;
  opacity: 0;
  transform: translateY(5px);
  transition: opacity 0.1s ease-in-out, transform 0.2s ease-in-out;
  z-index: -1;
}

.tabs__content > *.active-tab {
  position: relative;
  opacity: 1;
  top: 0;
  transform: translateZ(0px);
  z-index: 1;
}

@-webkit-keyframes tab-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes tab-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.comment {
  display: flex;
  gap: var(--gap-2);
  margin-bottom: var(--margin-5);
}

.comment:last-child {
  margin-bottom: 0;
}

.comment .avatar {
  position: -webkit-sticky;
  position: sticky;
  top: var(--margin-5);
  min-width: 60px;
  width: 60px;
  min-height: 60px;
  height: 60px;
}

.comment__info {
  padding-top: 2px;
}

.comment__label {
  margin-bottom: 5px;
}

.comment__body--editable {
  width: 100%;
  outline: none;
}

.comment__body--editable[placeholder]:empty::before {
  content: attr(placeholder);
  color: var(--placeholder);
  cursor: text;
}

.comment__body--editable[placeholder]:empty:focus::before {
  content: "";
}

.editor {
  width: 100%;
  background-color: var(--foreground);
}

.editor [placeholder]:empty::before {
  content: attr(placeholder);
  color: var(--placeholder);
  cursor: text;
}

.editor [placeholder]:empty:focus::before {
  content: "";
}

.editor__toolbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: flex;
  flex-wrap: wrap;
  gap: var(--margin-2);
  background-color: var(--foreground);
  border-top: 1px solid var(--color-primary-10);
  border-right: 1px solid var(--color-primary-10);
  border-bottom: 1px solid var(--color-primary-10);
  border-left: 1px solid var(--color-primary-10);
  border-top-left-radius: var(--radius-2);
  border-top-right-radius: var(--radius-2);
  padding: 10px;
  z-index: 2;
}

.editor__toolbar > button {
  text-align: center;
  line-height: 30px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.editor__toolbar > button:before {
  font-family: "Font Awesome 5 Pro";
  font-size: 18px;
}

.editor__toolbar > button.active {
  color: var(--primary);
}

.editor__toolbar > button[data-command=bold]:before {
  content: "\F032";
}

.editor__toolbar > button[data-command=italic]:before {
  content: "\F033";
}

.editor__toolbar > button[data-command=strikethrough]:before {
  content: "\F0CC";
}

.editor__toolbar > button[data-command=underline]:before {
  content: "\F0CD";
}

.editor__toolbar > button[data-command=removeFormat] {
  margin-right: var(--margin-4);
}

.editor__toolbar > button[data-command=removeFormat]:before {
  content: "\F87D";
}

.editor__toolbar > button[data-command=insertOrderedList]:before {
  content: "\F0CB";
}

.editor__toolbar > button[data-command=insertUnorderedList] {
  margin-right: var(--margin-4);
}

.editor__toolbar > button[data-command=insertUnorderedList]:before {
  content: "\F0CA";
}

.editor__toolbar > button[data-command=justifyLeft]:before {
  content: "\F036";
}

.editor__toolbar > button[data-command=justifyCenter]:before {
  content: "\F037";
}

.editor__toolbar > button[data-command=justifyRight] {
  margin-right: var(--margin-4);
}

.editor__toolbar > button[data-command=justifyRight]:before {
  content: "\F038";
}

.editor__toolbar > button[data-command=indent]:before {
  content: "\F03C";
}

.editor__toolbar > button[data-command=outdent] {
  margin-right: var(--margin-4);
}

.editor__toolbar > button[data-command=outdent]:before {
  content: "\F03B";
}

.editor__toolbar > button[data-command=superscript]:before {
  content: "\F12B";
}

.editor__toolbar > button[data-command=subscript]:before {
  content: "\F12C";
}

.editor__toolbar + .editor__content {
  border-top: 1px solid transparent;
  border-top-left-radius: unset;
  border-top-right-radius: unset;
}

.editor__content {
  font: inherit;
  color: var(--text-color-primary);
  min-height: 150px;
  border-top: 1px solid var(--color-primary-10);
  border-right: 1px solid var(--color-primary-10);
  border-bottom: 1px solid var(--color-primary-10);
  border-left: 1px solid var(--color-primary-10);
  border-top-left-radius: var(--radius-2);
  border-top-right-radius: var(--radius-2);
  border-bottom-left-radius: var(--radius-2);
  border-bottom-right-radius: var(--radius-2);
  padding: 24px;
  resize: none;
  outline: none;
  overflow: auto;
  transition: border 0.1s ease;
}

.editor__content:focus {
  border-top: 1px solid var(--color-primary-50);
  border-right: 1px solid var(--color-primary-50);
  border-bottom: 1px solid var(--color-primary-50);
  border-left: 1px solid var(--color-primary-50);
}

.editor__content::-moz-placeholder {
  font: inherit;
}

.editor__content:-ms-input-placeholder {
  font: inherit;
}

.editor__content::placeholder {
  font: inherit;
}

.editor + input {
  margin-top: 20px;
}

.editor + button {
  margin-top: 30px;
}

.editor + p.alert {
  margin-top: 20px;
}

.breadcrumb {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--gap-1);
  list-style: none;
  margin: 0;
  padding: 0;
}

.breadcrumb__item {
  display: flex;
  align-items: center;
  color: var(--gray);
  font-size: 16px;
}

.breadcrumb__item + .breadcrumb__item::before {
  content: "\F105";
  font-family: "Font Awesome 5 Pro";
  font-weight: 100;
  margin-right: var(--gap-1);
}

.breadcrumb__item--active {
  color: var(--black);
  font-weight: bold;
}

.hidden {
  display: none;
  margin: var(--margin-5) 0;
}

.hidden--visible {
  display: block;
}

.media {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap-1);
  padding: 0;
  margin: 0 0 var(--margin-5) 0;
  list-style: none;
  list-style-type: none;
}

.media:last-child {
  margin-bottom: 0;
}

.media__item {
  display: flex;
  align-items: center;
  gap: var(--gap-3);
  flex-grow: 1;
}

.media__image {
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: var(--radius-2);
}

.media__action {
  cursor: pointer;
}

.modals {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  z-index: 10000;
}

.modal.is-visible {
  visibility: visible;
}

.modal__background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: -1;
}

.modal__inner {
  width: 600px;
  background-color: var(--pure-white);
  border-radius: var(--radius-2);
  padding: var(--margin-5);
  z-index: 1;
}

.modal__inner.is-loading {
  opacity: 0.6;
}

.meta {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap-1);
  padding: 0;
  margin: 0;
  list-style: none;
  list-style-type: none;
}

.meta__item:not(:last-of-type)::after {
  content: ",";
}

.forum__threads .forum__thread {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.forum__threads .forum__thread:last-child {
  margin-bottom: 0;
}

.forum__threads .forum__thread .avatar {
  width: 60px;
  height: 60px;
  margin-right: 15px;
}

.forum__threads .forum__thread a {
  color: var(--black);
}

.forum__threads .forum__thread-meta {
  color: var(--gray);
  display: flex;
  flex-wrap: wrap;
}

.forum__threads .forum__thread-meta a {
  font-weight: 600;
}

.forum__threads .forum__thread time:before {
  content: ", ";
}

.forum__threads .forum__thread time:after {
  content: " ";
}

