@charset "UTF-8";

* {
  box-sizing: border-box;
}

:root {
  --html-bg-color: #F1F3FA;
  --content-max-width: 1100px;
  --text-color-primary: #2A2C34;
  --color-white: #F2F6F9;
  --color-primary: rgb(109, 128, 226);
  --color-primary-70: rgba(109, 128, 226, 0.7);
  --color-primary-50: rgba(109, 128, 226, 0.5);
  --color-primary-10: rgba(109, 128, 226, 0.1);
  --color-primary-05: rgba(109, 128, 226, 0.05);
  --color-secondary: rgb(102, 102, 115);
  --color-red: #FB7676;
  --background: #F1F3FA;
  --foreground: #E9ECF9;
  --secondary-foreground: #EBEEF9;
  --black: #2A2C34;
  --white: #F2F6F9;
  --gray: #66686F;
  --red: #FB7676;
  --primary: #5FA1D0;
  --radius-1: 5px;
  --radius-2: 10px;
  --radius-3: 15px;
  --margin-1: 5px;
  --margin-2: 10px;
  --margin-3: 15px;
  --margin-4: 20px;
  --margin-5: 30px;
  --margin-6: 60px;
  --sidebar-max-width: 300px;
}

html {
  height: 100%;
  background-color: var(--html-bg-color);
}

body {
  font-family: "Nunito", Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 16px;
  height: 100%;
  color: var(--text-color-primary);
  margin: 0;
}

a {
  color: var(--color-primary-70);
  text-decoration: none;
}

a:hover {
  color: var(--color-primary);
}

img {
  max-width: 100%;
}

@font-face {
  font-family: "Font Awesome 5 Pro";
  font-style: normal;
  font-weight: 300;
  font-display: block;
  src: url(/fonts/fa-light-300.eot?a624ea3f4dd832cb54ea41286ded8fc3);
  src: url(/fonts/fa-light-300.eot?a624ea3f4dd832cb54ea41286ded8fc3) format("embedded-opentype"), url(/fonts/fa-light-300.woff2?3d8af27a47bbfab857f96dbcf710b087) format("woff2"), url(/fonts/fa-light-300.woff?0b4313e036624b29c8f651d0c9a5ecd8) format("woff"), url(/fonts/fa-light-300.ttf?0e0b8b741276d5220c847d0be486609e) format("truetype"), url(/fonts/fa-light-300.svg?a83fcc84a08516a0e8bf77b2d982827a) format("svg");
}

@font-face {
  font-family: "Font Awesome 5 Pro";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url(/fonts/fa-regular-400.eot?fde04f8e6967b818c6fb3338d8b366d3);
  src: url(/fonts/fa-regular-400.eot?fde04f8e6967b818c6fb3338d8b366d3) format("embedded-opentype"), url(/fonts/fa-regular-400.woff2?3e332211899360ab9380df4d50e1c33a) format("woff2"), url(/fonts/fa-regular-400.woff?4776aa52b579295cf651f6284793dac4) format("woff"), url(/fonts/fa-regular-400.ttf?faa0b37d4fdba1e304982f192c55bbe2) format("truetype"), url(/fonts/fa-regular-400.svg?a7fe14be02125376c03aced162443080) format("svg");
}

@font-face {
  font-family: "Font Awesome 5 Pro";
  font-style: normal;
  font-weight: 900;
  font-display: block;
  src: url(/fonts/fa-solid-900.eot?6c207a7b79c06c76e915eb8f30e51d8a);
  src: url(/fonts/fa-solid-900.eot?6c207a7b79c06c76e915eb8f30e51d8a) format("embedded-opentype"), url(/fonts/fa-solid-900.woff2?150120b3d9b448dd116680b66eba9bbe) format("woff2"), url(/fonts/fa-solid-900.woff?fb2f453136d024f47f2463d0d2ea2f05) format("woff"), url(/fonts/fa-solid-900.ttf?749dd3651c1a97f03faa88723af2371a) format("truetype"), url(/fonts/fa-solid-900.svg?29fd9e8a4f8962b6a48328553db58f2c) format("svg");
}

@font-face {
  font-family: "Font Awesome 5 Brands";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url(/fonts/fa-brands-400.eot?05c475fabceebae1f9d40ba6711cb41a);
  src: url(/fonts/fa-brands-400.eot?05c475fabceebae1f9d40ba6711cb41a) format("embedded-opentype"), url(/fonts/fa-brands-400.woff2?7c0be8b6640f024b6f4505161bf1bfd4) format("woff2"), url(/fonts/fa-brands-400.woff?5d875e6a4dcceea77fa7d4b8e1440982) format("woff"), url(/fonts/fa-brands-400.ttf?8ca6e74eddaf8fce3cdcf8647b37cbf1) format("truetype"), url(/fonts/fa-brands-400.svg?6c6d2066f4cf11ef750989386713bccd) format("svg");
}

@font-face {
  font-family: "Nunito";
  src: url(/fonts/Nunito-Black.eot?1365f5a761f8ca297de815287cf1dbf0);
  src: url(/fonts/Nunito-Black.eot?1365f5a761f8ca297de815287cf1dbf0) format("embedded-opentype"), url(/fonts/Nunito-Black.woff2?99e9c015d37f092ca838e099ef47630b) format("woff2"), url(/fonts/Nunito-Black.woff?59e68c03d5ee7487d6dc853c63427b0a) format("woff"), url(/fonts/Nunito-Black.ttf?e871002cb56e49676665703c88e7a0eb) format("truetype"), url(/fonts/Nunito-Black.svg?6b969aa40fa4744c4074f2b49c4c1c53) format("svg");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nunito";
  src: url(/fonts/Nunito-Bold.eot?e6764d3426c5048da9160b9656e987d6);
  src: url(/fonts/Nunito-Bold.eot?e6764d3426c5048da9160b9656e987d6) format("embedded-opentype"), url(/fonts/Nunito-Bold.woff2?71e314ab44ee39f69663aa9e3b51dbe6) format("woff2"), url(/fonts/Nunito-Bold.woff?726b1f6c4e41f23134e978fa4551a95c) format("woff"), url(/fonts/Nunito-Bold.ttf?b281483bb38c83846de4b00ef8c522a4) format("truetype"), url(/fonts/Nunito-Bold.svg?c900ce0998c4a30879886f186620034d) format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nunito";
  src: url(/fonts/Nunito-ExtraBold.eot?f129bdabbfb77df457d59087d7d55309);
  src: url(/fonts/Nunito-ExtraBold.eot?f129bdabbfb77df457d59087d7d55309) format("embedded-opentype"), url(/fonts/Nunito-ExtraBold.woff2?52cbc272f7333c0b5432e5187ad38dc4) format("woff2"), url(/fonts/Nunito-ExtraBold.woff?40d52157835073daf431760c5452bab4) format("woff"), url(/fonts/Nunito-ExtraBold.ttf?54efeb32fb87f5cefc0df83c840300cc) format("truetype"), url(/fonts/Nunito-ExtraBold.svg?03d69d5db678c624f6b64e999f2d69b0) format("svg");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nunito";
  src: url(/fonts/Nunito-ExtraLight.eot?55abbbd650cc4363d4291e33d372ecdd);
  src: url(/fonts/Nunito-ExtraLight.eot?55abbbd650cc4363d4291e33d372ecdd) format("embedded-opentype"), url(/fonts/Nunito-ExtraLight.woff2?d23c3f81601c3a6dbe29602d21a663f6) format("woff2"), url(/fonts/Nunito-ExtraLight.woff?3ccdcfbd0230fcb7eb28cd278d9c342e) format("woff"), url(/fonts/Nunito-ExtraLight.ttf?f3528e1f430974876a33902efc7a7287) format("truetype"), url(/fonts/Nunito-ExtraLight.svg?694fa87e8f61a15d48900f89eb3c82e9) format("svg");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nunito";
  src: url(/fonts/Nunito-Light.eot?165836caea731766b345bb29369d7eb2);
  src: url(/fonts/Nunito-Light.eot?165836caea731766b345bb29369d7eb2) format("embedded-opentype"), url(/fonts/Nunito-Light.woff2?5b1d49f6c01fa470e3d8a0be77db5697) format("woff2"), url(/fonts/Nunito-Light.woff?ad27b4964781a608450e33a046709c72) format("woff"), url(/fonts/Nunito-Light.ttf?d098589d69bdee5d8a7e8b7db551cb42) format("truetype"), url(/fonts/Nunito-Light.svg?bf87769a11bc3c560bc2e859a4bb039d) format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nunito";
  src: url(/fonts/Nunito-Regular.eot?9668847a6c1a8cbcfe5607841f3c0e56);
  src: url(/fonts/Nunito-Regular.eot?9668847a6c1a8cbcfe5607841f3c0e56) format("embedded-opentype"), url(/fonts/Nunito-Regular.woff2?a0073737584860856c9b984a6ed9300d) format("woff2"), url(/fonts/Nunito-Regular.woff?6c3e4b3d38629d9f79338b42c9d4ff3b) format("woff"), url(/fonts/Nunito-Regular.ttf?1eed132702c261496d2626b2d513cbda) format("truetype"), url(/fonts/Nunito-Regular.svg?61beee6753cea5261cb246f2de7afec6) format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nunito";
  src: url(/fonts/Nunito-SemiBold.eot?71a0b7e7758bb852d2b0a919458b0346);
  src: url(/fonts/Nunito-SemiBold.eot?71a0b7e7758bb852d2b0a919458b0346) format("embedded-opentype"), url(/fonts/Nunito-SemiBold.woff2?b585b9ad51d97924d1f02ed1f6bf868c) format("woff2"), url(/fonts/Nunito-SemiBold.woff?fed2195594894030195e2b45f393213b) format("woff"), url(/fonts/Nunito-SemiBold.ttf?e8977b980c312fc955617ad6db6b5d58) format("truetype"), url(/fonts/Nunito-SemiBold.svg?b73cedea91b73c616351b0a3a54e7a78) format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@-webkit-keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: 16px;
  line-height: 26px;
  margin: 0;
}

h1.center,
h2.center,
h3.center,
h4.center,
h5.center,
h6.center,
p.center {
  text-align: center;
}

h1.mt-60,
h2.mt-60,
h3.mt-60,
h4.mt-60,
h5.mt-60,
h6.mt-60,
p.mt-60 {
  margin-top: 60px;
}

h1.mt-30,
h2.mt-30,
h3.mt-30,
h4.mt-30,
h5.mt-30,
h6.mt-30,
p.mt-30 {
  margin-top: 30px;
}

h1.mb-60,
h2.mb-60,
h3.mb-60,
h4.mb-60,
h5.mb-60,
h6.mb-60,
p.mb-60 {
  margin-bottom: 60px;
}

h1.mb-30,
h2.mb-30,
h3.mb-30,
h4.mb-30,
h5.mb-30,
h6.mb-30,
p.mb-30 {
  margin-bottom: 30px;
}

h1 {
  font-size: 24px;
}

header {
  position: relative;
}

header:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url(/images/header_bg.png?b4401470b917d55e782919345b9c8412);
  background-color: #0b1018;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 45%;
  z-index: -1;
}

header a {
  color: var(--color-white);
}

header a:hover {
  color: #fff;
}

header .main {
  display: flex;
  align-items: center;
  max-width: var(--content-max-width);
  padding: 60px 0;
  margin: 0 auto;
}

header .logo {
  font-size: 24px;
  font-weight: bold;
  margin-right: auto;
}

header .notifications {
  font-size: 18px;
  margin-right: 30px;
}

header .profile {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 18px;
}

header .profile .avatar {
  width: 40px;
  height: 40px;
  background-color: var(--html-bg-color);
}

header .nav {
  background-color: rgba(14, 19, 29, 0.65);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
}

header .nav nav {
  display: flex;
  align-items: center;
  max-width: var(--content-max-width);
  margin: 0 auto;
}

header .nav nav a {
  display: block;
  padding: 30px 0;
  margin-right: 30px;
}

header .nav nav a:last-child {
  margin-right: 0;
}

header .nav nav a:before {
  font-family: "Font Awesome 5 Pro";
}

header .nav nav a.active {
  font-weight: bold;
}

header .nav nav a.search {
  margin-left: auto;
}

.page {
  display: flex;
  gap: var(--margin-6);
  max-width: var(--content-max-width);
  margin: var(--margin-6) auto;
}

.page.auth_form {
  max-width: 400px;
}

.page .content {
  width: 100%;
}

.section_title {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
}

.footer {
  position: -webkit-sticky;
  position: sticky;
  top: 100%;
  background-color: var(--color-primary-05);
  padding: 30px 0;
}

.footer .links {
  display: flex;
  flex-wrap: wrap;
  max-width: var(--content-max-width);
  margin: 0 auto;
}

.footer a {
  font-weight: 600;
  color: var(--text-color-primary);
  margin-right: 30px;
}

.footer a:first-child {
  margin-right: auto;
}

.footer a:last-child {
  margin-right: 0;
}

.sidebar {
  max-width: var(--sidebar-max-width);
  width: 100%;
}

.sidebar__inner--sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 60px;
}

input {
  font: inherit;
  color: var(--text-color-primary);
  width: 100%;
  background-color: var(--color-primary-05);
  border: 1px solid var(--color-primary-10);
  border-radius: var(--radius-2);
  padding: 24px;
  outline: none;
  transition: border 0.1s ease;
}

input:focus {
  border: 1px solid var(--color-primary-50);
}

input::-moz-placeholder {
  font: inherit;
}

input:-ms-input-placeholder {
  font: inherit;
}

input::placeholder {
  font: inherit;
}

input + input {
  margin-top: 20px;
}

input + button {
  margin-top: 30px;
}

input + p.alert {
  margin-top: 20px;
}

textarea {
  font: inherit;
  color: var(--text-color-primary);
  width: 100%;
  min-height: 150px;
  background-color: var(--color-primary-05);
  border: 1px solid var(--color-primary-10);
  border-radius: var(--radius-2);
  padding: 24px;
  resize: vertical;
  outline: none;
  transition: border 0.1s ease;
}

textarea:focus {
  border: 1px solid var(--color-primary-50);
}

textarea::-moz-placeholder {
  font: inherit;
}

textarea:-ms-input-placeholder {
  font: inherit;
}

textarea::placeholder {
  font: inherit;
}

textarea + input {
  margin-top: 20px;
}

textarea + button {
  margin-top: 30px;
}

textarea + p.alert {
  margin-top: 20px;
}

button {
  font: inherit;
  background-color: unset;
  border: none;
  padding: unset;
  outline: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.button {
  position: relative;
  display: block;
  font: inherit;
  text-align: center;
  font-weight: 600;
  color: var(--color-white);
  width: 100%;
  background-color: var(--color-secondary);
  border: none;
  border-radius: var(--radius-2);
  padding: 24px;
  outline: none;
  transition: all 0.1s ease;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

.button:hover {
  color: var(--color-white);
}

.button.primary {
  background-color: var(--color-primary);
}

.button.primary:hover {
  background-color: #7486e3;
}

.button.primary:active {
  background-color: #6478e0;
  padding: 26px 24px 22px 24px;
}

.button.loading {
  color: transparent;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: default;
}

.button.loading:before {
  content: "\F2F1";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Font Awesome 5 Pro";
  font-weight: 100;
  font-size: 18px;
  color: var(--color-white);
  -webkit-animation: spin 1.5s linear infinite;
          animation: spin 1.5s linear infinite;
}

.section {
  margin-bottom: var(--margin-6);
}

.section__title {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
  font-weight: 600;
  margin-bottom: 30px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.section:last-child {
  margin-bottom: 0;
}

.icon {
  font-size: inherit;
}

.icon::before {
  font-family: "Font Awesome 5 Pro";
  font-weight: inherit;
}

.icon_light {
  font-weight: 100;
}

.icon_regular {
  font-weight: normal;
}

.icon_solid {
  font-weight: 900;
}

.icon--bell::before {
  content: "\F0F3";
}

.icon--search::before {
  content: "\F002";
}

.icon--login::before {
  content: "\F090";
}

.icon--register::before {
  content: "\F234";
}

.icon--comment::before {
  content: "\F075";
}

.icon--comments::before {
  content: "\F086";
}

p.alert {
  padding: 15px;
  border-radius: var(--radius-2);
}

p.alert:before {
  content: "\F06A";
  font-family: "Font Awesome 5 Pro";
  font-weight: 100;
  margin-right: 15px;
}

p.alert + input {
  margin-top: 20px;
}

p.alert.red {
  border: 1px solid var(--color-red);
}

p.alert.red:before {
  color: var(--color-red);
}

.social_links.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.social_links.grid > a {
  text-align: center;
  flex-grow: 1;
  width: 70px;
  height: 70px;
}

.social_links a {
  display: block;
  font-size: 24px;
  background-color: var(--color-primary-05);
  border: 1px solid var(--color-primary-10);
  border-radius: 15px;
  padding: 20px;
}

.social_links a:before {
  font-family: "Font Awesome 5 Brands";
}

.social_links a:not(:empty) {
  display: flex;
  align-items: center;
}

.social_links a:not(:empty):before {
  margin-right: 15px;
}

.social_links a.vk:before {
  content: "\F189";
}

.social_links a.google:before {
  content: "\F1A0";
}

.social_links a.yandex:before {
  content: "\F413";
}

.social_links a.fb:before {
  content: "\F39E";
}

.dropdown {
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  z-index: 10;
}

.dropdown__title {
  display: flex;
  align-items: center;
  font-weight: 600;
  color: var(--black);
  cursor: pointer;
}

.dropdown__title:after {
  content: "\F107";
  font-family: "Font Awesome 5 Pro";
  font-weight: 100;
  margin-left: 10px;
  transition: all 0.1s ease-in-out;
}

.dropdown__title:hover {
  color: var(--black);
}

.dropdown__title:active:after {
  transform: translateY(1px);
}

.dropdown__content {
  position: absolute;
  top: calc(100% + 15px);
  left: 0;
  background-color: #fff;
  border-radius: var(--radius-2);
  padding: 15px 0;
  margin: 0;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  list-style: none;
  transform: translateY(-20px);
  opacity: 0;
  pointer-events: none;
  transition: transform 0.1s ease, opacity 0.15s ease;
}

.dropdown__content:before {
  content: "";
  position: absolute;
  top: -20px;
  left: 0;
  right: 0;
  height: 20px;
}

.dropdown__item {
  color: var(--black);
  white-space: nowrap;
}

.dropdown__item:hover {
  background-color: var(--color-primary-10);
}

.dropdown__item a {
  display: block;
  color: inherit;
  padding: 15px 24px;
}

.dropdown.active .dropdown__title:after {
  transform: rotate(180deg);
}

.dropdown.active .dropdown__content {
  transform: translateY(0);
  opacity: 1;
  pointer-events: unset;
}

.avatar {
  position: relative;
  font-weight: 600;
  color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-primary-05);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: var(--radius-2);
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.avatar:not([style]) {
  color: var(--text-color-primary);
}

.avatar--large {
  width: 100%;
  min-height: calc(var(--sidebar-max-width) + 100px);
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.tags .tag {
  color: var(--text-color-primary);
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--foreground);
  border: 1px solid transparent;
  border-radius: var(--radius-2);
  padding: 12px;
  outline: none;
  transition: color 0.2s ease, border 0.2s ease;
}

.tags .tag:hover {
  border: 1px solid var(--color-primary-10);
}

.tags .tag:focus {
  border: 1px solid var(--color-primary-50);
}

.tags .tag:active {
  padding: 13px 12px 11px 12px;
}

.tags .tag:before {
  font-family: "Font Awesome 5 Pro";
  font-weight: normal;
  margin-right: 12px;
}

.tags .tag.active {
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
}

.tags .tag.discussions:before {
  content: "\F086";
}

.tags .tag.ideas:before {
  content: "\F672";
}

.tags .tag.plugins:before {
  content: "\F12E";
}

.tags .tag.graphics:before {
  content: "\F53F";
}

.tags .tag.building:before {
  content: "\F66F";
}

.tags .tag.accounts:before {
  content: "\F0C0";
}

.tags .tag.news:before {
  content: "\F1EA";
}

.tags .tag.giveaways:before {
  content: "\F06B";
}

.tags .tag.buying:before {
  content: "\F063";
}

.tags .tag.selling:before {
  content: "\F062";
}

.pagination {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.pagination__links {
  display: flex;
  justify-content: center;
  gap: 30px;
  text-align: center;
  list-style: none;
}

.data {
  display: flex;
  align-items: center;
  gap: var(--margin-3);
  margin-bottom: var(--margin-5);
}

.data_compact {
  margin-bottom: var(--margin-4);
}

.data:last-child {
  margin-bottom: 0;
}

.data__icon {
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  background-color: var(--foreground);
  border-radius: var(--radius-2);
}

.data__info {
  display: flex;
  flex-direction: column;
  gap: var(--margin-1);
}

.editor {
  width: 100%;
  background-color: var(--foreground);
}

.editor__toolbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: flex;
  flex-wrap: wrap;
  gap: var(--margin-2);
  background-color: var(--foreground);
  border-top: 1px solid var(--color-primary-10);
  border-right: 1px solid var(--color-primary-10);
  border-bottom: 1px solid var(--color-primary-10);
  border-left: 1px solid var(--color-primary-10);
  border-top-left-radius: var(--radius-2);
  border-top-right-radius: var(--radius-2);
  padding: 10px;
  z-index: 2;
}

.editor__toolbar > button {
  text-align: center;
  line-height: 30px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.editor__toolbar > button:before {
  font-family: "Font Awesome 5 Pro";
  font-size: 18px;
}

.editor__toolbar > button.active {
  color: var(--primary);
}

.editor__toolbar > button[data-command=bold]:before {
  content: "\F032";
}

.editor__toolbar > button[data-command=italic]:before {
  content: "\F033";
}

.editor__toolbar > button[data-command=strikethrough]:before {
  content: "\F0CC";
}

.editor__toolbar > button[data-command=underline]:before {
  content: "\F0CD";
}

.editor__toolbar > button[data-command=removeFormat] {
  margin-right: var(--margin-4);
}

.editor__toolbar > button[data-command=removeFormat]:before {
  content: "\F87D";
}

.editor__toolbar > button[data-command=insertOrderedList]:before {
  content: "\F0CB";
}

.editor__toolbar > button[data-command=insertUnorderedList] {
  margin-right: var(--margin-4);
}

.editor__toolbar > button[data-command=insertUnorderedList]:before {
  content: "\F0CA";
}

.editor__toolbar > button[data-command=justifyLeft]:before {
  content: "\F036";
}

.editor__toolbar > button[data-command=justifyCenter]:before {
  content: "\F037";
}

.editor__toolbar > button[data-command=justifyRight] {
  margin-right: var(--margin-4);
}

.editor__toolbar > button[data-command=justifyRight]:before {
  content: "\F038";
}

.editor__toolbar > button[data-command=indent]:before {
  content: "\F03C";
}

.editor__toolbar > button[data-command=outdent]:before {
  content: "\F03B";
}

.editor__toolbar + .editor__content {
  border-top: 1px solid transparent;
  border-top-left-radius: unset;
  border-top-right-radius: unset;
}

.editor__content {
  font: inherit;
  color: var(--text-color-primary);
  min-height: 150px;
  border-top: 1px solid var(--color-primary-10);
  border-right: 1px solid var(--color-primary-10);
  border-bottom: 1px solid var(--color-primary-10);
  border-left: 1px solid var(--color-primary-10);
  border-top-left-radius: var(--radius-2);
  border-top-right-radius: var(--radius-2);
  border-bottom-left-radius: var(--radius-2);
  border-bottom-right-radius: var(--radius-2);
  padding: 24px;
  resize: none;
  outline: none;
  overflow: auto;
  transition: border 0.1s ease;
}

.editor__content:focus {
  border-top: 1px solid var(--color-primary-50);
  border-right: 1px solid var(--color-primary-50);
  border-bottom: 1px solid var(--color-primary-50);
  border-left: 1px solid var(--color-primary-50);
}

.editor__content::-moz-placeholder {
  font: inherit;
}

.editor__content:-ms-input-placeholder {
  font: inherit;
}

.editor__content::placeholder {
  font: inherit;
}

.editor + input {
  margin-top: 20px;
}

.editor + button {
  margin-top: 30px;
}

.editor + p.alert {
  margin-top: 20px;
}

.forum__threads .forum__thread {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.forum__threads .forum__thread:last-child {
  margin-bottom: 0;
}

.forum__threads .forum__thread .avatar {
  width: 60px;
  height: 60px;
  margin-right: 15px;
}

.forum__threads .forum__thread a {
  color: var(--black);
}

.forum__threads .forum__thread-meta {
  color: var(--gray);
  display: flex;
  flex-wrap: wrap;
}

.forum__threads .forum__thread-meta a {
  font-weight: 600;
}

.forum__threads .forum__thread time:before {
  content: ", ";
}

.forum__threads .forum__thread time:after {
  content: " ";
}

