.footer {
    // position: sticky;
    // top: 100%;
    // background-color: var(--color-primary-05);
    border-top: 1px solid var(--border);
    padding: var(--margin-5) 0;

    @media (max-width: 1220px) {
        padding: var(--margin-5) var(--margin-6);
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: var(--gap-1);
        max-width: var(--content-max-width);
        margin: 0 auto;

        @media (max-width: 1000px) {
            text-align: center;
            gap: var(--gap-3);
        }

        @media (max-width: 700px) {
            justify-content: center;
        }
    }

    &__right {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: var(--gap-3);
    }

    &__link {
        font-weight: 600;
    }
}