header {
    position: relative;
    
    &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: url('../images/header_bg.png');
        background-color: #0b1018;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center 45%;
        z-index: -1;
    }

    a {
        color: var(--color-white);

        &:hover {
            color: #fff;
        }
    }

    .main {
        display: flex;
        align-items: center;
        max-width: var(--content-max-width);
        padding: 60px 0;
        margin: 0 auto;
    }

    .logo {
        font-size: 24px;
        font-weight: bold;
        margin-right: auto;
    }

    .notifications {
        font-size: 18px;
        margin-right: 30px;
    }

    .profile {
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 18px;

        .avatar {
            width: 40px;
            height: 40px;
            background-color: var(--html-bg-color);
        }
    }

    .nav {
        background-color: rgba(14, 19, 29, 0.65);
        backdrop-filter: blur(15px);

        nav {
            display: flex;
            align-items: center;
            max-width: var(--content-max-width);
            margin: 0 auto;
    
            a {
                display: block;
                padding: 30px 0;
                margin-right: 30px;

                &:last-child {
                    margin-right: 0;
                }

                &:before {
                    font-family: 'Font Awesome 5 Pro';
                }
    
                &.active {
                    font-weight: bold;
                }
    
                &.search {
                    margin-left: auto;
                }
            }
        }
    }
}