.header {
    position: relative;
    background-color: var(--pure-white);
    margin-bottom: var(--mb-6);
    border-bottom: 1px solid var(--border);

    // a {
    //     color: var(--white);
    // }

    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: var(--gap-6);
        max-width: var(--content-max-width);
        padding: var(--margin-4) 0;
        margin: 0 auto;

        @media (max-width: 1220px) {
            padding: var(--margin-4) var(--margin-6);
        }
    }

    &__left,
    &__right {
        display: flex;
        align-items: center;
        flex-grow: 1;
        flex-wrap: wrap;
    }

    &__left {
        gap: var(--gap-6);
        justify-content: space-between;
    }

    &__right {
        justify-content: flex-end;
    }

    &__logo {
        color: var(--black);
        font-size: 24px;
        font-weight: bold;
    }

    &__conversations {
        position: relative;
        font-size: 18px;
        margin-right: 30px;

        &[data-count] {
            &::after {
                content: attr(data-count);
                position: absolute;
                top: -10px;
                right: -10px;
                width: 20px;
                height: 20px;
                text-align: center;
                font-size: 12px;
                color: var(--white);
                line-height: 20px;
                background-color: var(--red);
                border-radius: 100px;
                white-space: nowrap;
                overflow: hidden;
            }
        }
    }

    &__profile {
        color: var(--black);
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 18px;

        .avatar {
            width: 40px;
            height: 40px;
            background-color: var(--html-bg-color);
        }
    }

    &__nav {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: var(--gap-3);

        a {
            display: block;
            color: var(--gray);

            &:hover,
            &.active {
                color: var(--black);
            }
        }
    }
}