.page {
    display: flex;
    gap: var(--margin-6);
    max-width: var(--content-max-width);
    margin: var(--margin-6) auto;

    &.auth_form {
        max-width: 400px;
    }

    .content {
        width: 100%;
    }
}

.section_title {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
}