.sidebar {
    max-width: var(--sidebar-max-width);
    width: 100%;

    @media (max-width: 1220px) {
        max-width: unset;
    }

    &__inner {

        &--sticky {
            position: sticky;
            top: 60px;
        }
    }
}