.avatar {
    position: relative;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-primary-05);
    background-image: url('../images/default_avatar.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: var(--radius-2);
    overflow: hidden;
    transition: background-image 0.15s ease-in-out;
    user-select: none;

    &.large {
        font-size: 3em;
        width: 100%;
        min-height: calc(var(--sidebar-max-width) + 100px);

        & + .button {
            margin-top: var(--margin-5);
        }
    }
}