button {
    font: inherit;
    background-color: unset;
    border: none;
    padding: unset;
    outline: none;
    user-select: none;
}

.button {
    position: relative;
    display: block;
    font: inherit;
    text-align: center;
    font-weight: 600;
    color: var(--color-white);
    width: 100%;
    background-color: var(--color-secondary);
    border: none;
    border-radius: var(--radius-2);
    padding: 24px;
    outline: none;
    transition: background-color 0.07s ease-in-out, color 0.1s ease-in-out;
    user-select: none;
    cursor: pointer;

    &:hover {
        color: var(--color-white);
    }

    &:active {
        padding: 26px 24px 22px;
    }

    & + & {
        margin-top: var(--margin-4);
    }

    &.primary {
        background-color: var(--primary);

        &:hover {
            background-color: var(--primary-light);
        }

        &:active {
            background-color: var(--primary-dark);
        }
    }

    &.green {
        color: var(--black);
        background-color: var(--green);

        &:hover {
            background-color: var(--green-light);
        }

        &:active {
            background-color: var(--green-dark);
        }
    }

    &.loading {
        color: transparent;
        pointer-events: none;
        user-select: none;
        cursor: default;
        
        &:before {
            content: '\f2f1';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: 'Font Awesome 5 Pro';
            font-weight: 100;
            font-size: 18px;
            color: var(--color-white);
            animation: spin 1.5s linear infinite;
        }
    }

    &.success {
        color: transparent;
        background-color: var(--green);
        pointer-events: none;
        user-select: none;
        cursor: default;
        
        &:before {
            content: '\f00c';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: 'Font Awesome 5 Pro';
            font-weight: 100;
            font-size: 18px;
            color: var(--color-white);
        }
    }
}