.buttons {
    display: flex;
    flex-direction: column;
    gap: var(--gap-2);

    &_inline {
        flex-direction: row;
        flex-wrap: wrap;

        .button {
            width: unset;
        }

        &_fluid .button {
            flex-grow: 1;
        }
    }
}