.checkbox {
    user-select: none;

    & + .select {
        margin-top: var(--margin-5);
    }

    input {
        position: absolute;
        width: 0;
        height: 0;
        margin: 0;
        opacity: 0;
        cursor: pointer;
    }

    &__label {
        cursor: pointer;
    }

    &.classic {
        position: relative;
        display: block;
        padding-left: 25px;
        margin-bottom: var(--margin-3);

        &:last-child {
            margin-bottom: 0;
        }

        .checkbox__mark {
            position: absolute;
            top: 4px;
            left: 0;
            height: 15px;
            width: 15px;
            background-color: var(--foreground);
            border: 1px solid var(--border);
            border-radius: 5px;
            cursor: pointer;
    
            &:after {
                content: '\f00c';
                position: absolute;
                top: -4px;
                right: 0;
                bottom: 0;
                left: 2px;
                text-align: center;
                font-family: 'Font Awesome 5 Pro';
                color: var(--primary);
                opacity: 0;
                transform: translateY(-5px);
                transition: opacity 0.05s ease-in-out, transform 0.1s ease-in-out;
            }
        }

        &:hover .checkbox__mark {
            background-color: var(--border);
        }

        input:checked ~ .checkbox__mark:after {
            opacity: 1;
            transform: translateY(0);
        }
    }

    &.tag {
        .checkbox__label {
            color: var(--black);
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: var(--foreground);
            border: 1px solid transparent;
            border-radius: var(--radius-2);
            padding: 12px;
            outline: none;
            transition: color 0.2s ease, border 0.2s ease;

            &:before {
                font-weight: normal;
                margin-right: 12px;
            }
        }

        &:not(.disabled) .checkbox__label:hover {
            border: 1px solid var(--color-primary-10);
        }

        &:not(.disabled) .checkbox__label:active {
            padding: 13px 12px 11px 12px;
        }

        &.fluid {
            flex-grow: 1;

            .checkbox__label {
                flex-grow: 1;
            }
        }

        &.readonly {
            cursor: default;
        }
    
        // &.active {
        //     color: var(--color-primary);
        //     border: 1px solid var(--color-primary);
        // }

        input:checked ~ .checkbox__label {
            color: var(--primary);
            border: 1px solid var(--primary);
        }
    }

    &.disabled {
        .checkbox__mark,
        .checkbox__label {
            cursor: default;
        }
    }
}