.cover {
    position: relative;
    background-color: var(--foreground);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: var(--radius-2);
    transition: background-image 0.15s ease-in-out;
}