.data {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: var(--margin-3);
    margin-bottom: var(--margin-5);
    transform: opacity 0.3s ease-in-out;
    overflow: hidden;

    &_compact {
        margin-bottom: var(--margin-4);
    }

    &.is-loading {
        pointer-events: none;
        opacity: 0.7;

        .data__icon {
            position: relative;
            background-image: unset;
            
            &::before {
                content: '\f2f1';
                display: inline-block;
                animation: spin 2s linear infinite;
            }
        }
    }

    &:last-child {
        margin-bottom: 0;
    }

    &__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60px;
        min-width: 60px;
        height: 60px;
        min-height: 60px;
        background-color: var(--foreground);
        border-radius: var(--radius-2);

        &--small {
            width: 30px;
            min-width: 30px;
            height: 30px;
            min-height: 30px;
            border-radius: var(--radius-1);
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        gap: var(--margin-1);
    }

    &__value {
        font-weight: 600;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__desc {
        color: var(--gray);
        display: flex;
        flex-wrap: wrap;
        gap: var(--gap-1);
    }

    &__hidden {
        opacity: 0;
        transform: translateX(-5px);
        transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out;
        pointer-events: none;
    }

    &:hover &__hidden.data__hidden--hover {
        opacity: 1;
        transform: translateX(0);
        pointer-events: unset;
    }
}