.file {
    position: relative;
    display: flex;
    transition: opacity 0.3s ease-in-out;

    &__original {
        // position: absolute;
        // top: 0;
        // right: 0;
        // bottom: 0;
        // left: 0;
        // opacity: 0;
        // cursor: pointer;

        cursor: pointer;
        outline: none;
        width: 100%;

        &::-webkit-file-upload-button {
            font: inherit;
            background-color: var(--foreground);
            border: 1px solid var(--border);
            border-radius: var(--radius-1);
            padding: var(--margin-2) var(--margin-3);
            margin-right: var(--margin-3);
            outline: none;
            cursor: pointer;
        }
    }

    // &__label {
    //     width: 100%;
    //     text-align: center;
    //     padding: 24px var(--margin-6);
    //     border: 2px dashed var(--border);
    //     border-radius: var(--radius-2);
    //     transition: border 0.1s ease-in-out;
    //     cursor: pointer;
    // }

    &.is-dragenter:not(.is-uploading) &__label,
    &:hover:not(.is-uploading) &__label {
        border-color: var(--color-primary-50);
    }

    &.is-uploading {
        opacity: 0.4;
        cursor: default;
    }
}