input {
    font: inherit;
    color: var(--black);
    width: 100%;
    background-color: var(--foreground);
    border: 1px solid var(--border);
    border-radius: var(--radius-2);
    padding: 24px;
    outline: none;
    transition: border 0.1s ease;

    &:focus {
        border: 1px solid var(--color-primary-50);
    }

    &::placeholder {
        font: inherit;
        color: var(--placeholder);
    }

    & + input {
        margin-top: 20px;
    }

    & + button {
        margin-top: 30px;
    }

    & + p.alert {
        margin-top: 20px;
    }
}