.media {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap-1);
    padding: 0;
    margin: 0 0 var(--margin-5) 0;
    list-style: none;
    list-style-type: none;

    &:last-child {
        margin-bottom: 0;
    }

    &__item {
        display: flex;
        align-items: center;
        gap: var(--gap-3);
        flex-grow: 1;
    }

    &__image {
        width: 100px;
        height: 100px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        border-radius: var(--radius-2);
    }

    &__action {
        cursor: pointer;
    }
}