.meta {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap-1);
    padding: 0;
    margin: 0;
    list-style: none;
    list-style-type: none;

    &__item {

        &:not(:last-of-type)::after {
            content: ',';
        }
    }
}