.radio {

    & + .select {
        margin-top: var(--margin-5);
    }

    &__original {
        position: absolute;
        width: 0;
        height: 0;
        margin: 0;
        opacity: 0;
        cursor: pointer;
    }

    &__label {
        cursor: pointer;
    }

    position: relative;
        display: block;
        padding-left: 25px;
        margin-bottom: var(--margin-3);

        &:last-child {
            margin-bottom: 0;
        }

        &__mark {
            position: absolute;
            top: 4px;
            left: 0;
            height: 15px;
            width: 15px;
            background-color: var(--foreground);
            border: 1px solid var(--border);
            border-radius: 50px;
            cursor: pointer;
    
            &:after {
                content: '';
                position: absolute;
                top: 4px;
                left: 4px;
                width: 5px;
                height: 5px;
                background-color: var(--primary);
                border-radius: 50px;
                opacity: 0;
                transform: scale(0);
                transition: opacity 0.05s ease-in-out, transform 0.1s ease-in-out;
            }
        }

        &:hover &__mark {
            background-color: var(--border);
        }

        input:checked ~ &__mark {
            border-color: var(--primary);

            &:after {
                opacity: 1;
                transform: scale(1);
            }
        }
}