.section {
    margin-bottom: var(--margin-6);

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: var(--gap-3);
    }

    &__title {
        font-weight: 600;
        margin-right: auto;

        &_required::after {
            content: '*';
            color: var(--red);
            margin-left: var(--margin-1);
        }
    }

    &__header + &__content {
        margin-top: var(--margin-5);
    }

    &_compact {
        margin-bottom: var(--margin-5);
    }

    &_small {
        margin-bottom: var(--margin-3);
    }

    &_sticky {
        position: sticky;
        top: var(--margin-5);
    }

    &:last-child {
        margin-bottom: 0;
    }
}