.tabs {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap-3);
    border-bottom: 2px solid var(--foreground);
    margin-bottom: var(--margin-5);
    user-select: none;

    &__tab {
        position: relative;
        font-weight: 600;
        color: var(--gray);
        padding-bottom: 30px;
        transition: color 0.2s ease-in-out;

        &:after {
            content: '';
            position: absolute;
            right: 0;
            bottom: 0;
            left: 0;
            height: 2px;
            background-color: transparent;
            transition: all 0.2s ease-in-out;
        }

        &.active {
            color: var(--primary);

            &:after {
                bottom: -2px;
                background-color: var(--primary);
            }
        }
    }

    &__content {
        position: relative;
        display: flex;

        > * {
            position: absolute;
            right: 0;
            left: 0;
            opacity: 0;
            transform: translateY(5px);
            transition: opacity 0.1s ease-in-out, transform 0.2s ease-in-out;
            z-index: -1;

            &.active-tab {
                position: relative;
                opacity: 1;
                top: 0;
                transform: translateZ(0px);
                z-index: 1;
            }
        }
    }
}

@keyframes tab-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}