.checkbox {
    input[type="checkbox"].tag {
        & ~ .checkbox__label {
            color: var(--black);
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: var(--foreground);
            border: 1px solid transparent;
            border-radius: var(--radius-2);
            padding: 12px;
            outline: none;
            transition: color 0.2s ease, border 0.2s ease;

            &:before {
                font-weight: normal;
                margin-right: 12px;
            }

            &:hover {
                border: 1px solid var(--color-primary-10);
            }
            
            &:focus {
                border: 1px solid var(--color-primary-50);
            }

            &:active {
                padding: 13px 12px 11px 12px;
            }
        }

        &:checked ~ .checkbox__label {
            color: var(--primary);
            border: 1px solid var(--primary);
        }
    }
}