.textarea {
    font: inherit;
    color: var(--black);
    width: 100%;
    background-color: var(--foreground);
    border: 1px solid var(--border);
    border-radius: var(--radius-2);
    padding: 24px;
    resize: vertical;
    outline: none;
    transition: border 0.1s ease-in-out, background-color 0.1s ease-in-out;

    &:focus {
        // border: 1px solid var(--color-primary-50);
        background-color: transparent;
    }

    &::placeholder {
        font: inherit;
        color: var(--placeholder);
    }

    &[type="hidden"] {
        display: none;
    }

    &_small {
        min-height: 150px;
    }

    &_medium {
        min-height: 200px;
    }

    &_large {
        min-height: 350px;
    }

    & + p.alert {
        margin-top: 20px;
    }
}