textarea {
    font: inherit;
    color: var(--black);
    width: 100%;
    min-height: 300px;
    background-color: var(--foreground);
    border: 1px solid var(--border);
    border-radius: var(--radius-2);
    padding: 24px;
    resize: vertical;
    outline: none;
    transition: border 0.1s ease-in-out, background-color 0.1s ease-in-out;

    &:focus {
        // border: 1px solid var(--color-primary-50);
        background-color: transparent;
    }

    &::placeholder {
        font: inherit;
        color: var(--placeholder);
    }

    &[type="hidden"] {
        display: none;
    }

    & + input {
        margin-top: 20px;
    }

    & + button {
        margin-top: 30px;
    }

    & + p.alert {
        margin-top: 20px;
    }
}